[2019-02-13 08:11] AlbertoGhedin opened #1 "[WP5] Problem accessing Siren"
Service:  Siren
Machine: 40.114.234.51
Port: 8080
Error: 504 Gateway Timeout: remote server did not respond

[2019-02-13 08:38] AlbertoGhedin commented on #1
Finished the maintenance process on the machine

[2019-02-13 08:38] #1 closed, assigned to AlbertoGhedin, giocalor

[2019-02-13 08:44] clazando opened #2 "[WP5] Problem accessing fandango01 via ssh"
Service: Siren
Machine: 40.114.234.51
Port: 15001
Error: 504 Gateway Timeout: remote server did not respond

[2019-02-13 08:46] AlbertoGhedin commented on #2
This is a test issue. Fixed

[2019-02-13 08:46] #2 closed, assigned to AlbertoGhedin, giocalor

[2019-05-31 09:07] danielevannella opened #3 "Facebook crawler"
Hi guy I find in kafka  sources as  Facebook, reddit, twitter, and others. My questions are:

1) Are they old data in Kafka?
If yes, I ask @giocalor   to clean all the old queues.

[2019-05-31 09:09] danielevannella opened #4 "Kafka Manager"
Hi @giocalor , please could you give as a monitor interface of kafka  to check the status of each queue?

[2019-05-31 12:45] giocalor commented on #3
Kafka data has 6-7 days retention time, so we should investigate about it.
Not sure if @pstalidis needs a data example to check.

[2019-05-31 13:22] pstalidis commented on #3
There **should not** be any data from sources other than the ones provided from the end-users.
During the services testing **old data** were inserted to the kafka queues.
@giocalor can you please remove **all** data in kafka to be on the safe side?

[2019-06-07 14:00] danielevannella opened #5 "preprocessing service"
We have a error with preprocessing service. We can't connect to the service http://40.114.234.51:5001/

@giocalor  could you check please?

Thanks
Daniele

[2019-06-10 15:53] danielevannella commented on #5
Please. you could check the preprocessing service.
I'have this error:
'Connection aborted.', BadStatusLine('SSH-2.0-OpenSSH_7.4\r\n',)

[2019-06-25 07:56] danielevannella opened #6 "autorunning docker"
Hi @giocalor, I see that the docker-compose for text analysis and the interface doesn't perform autostart.

Please, could you check?

Best
Daniele

[2019-06-25 08:04] giocalor commented on #6
re-enabled

[2019-06-25 08:04] #6 closed, assigned to nobody

[2019-06-25 08:04] #3 closed, assigned to pstalidis

[2019-06-25 08:04] #5 closed, assigned to giocalor

[2019-07-01 13:00] danielevannella opened #7 "Docker service down"
Hi @giocalor , I saw that all services are down (excluded  Text Analysis and certh_offline_ner_service).

[2019-07-02 07:47] danielevannella opened #8 "Services Down"
Hi @giocalor today only webapp and text analysis are up.

[2019-07-03 07:45] danielevannella opened #9 "Services Down"
Hi guys,

preprocessing is down.

docker ps:

CONTAINER ID        IMAGE                               COMMAND                  CREATED             STATUS              PORTS                    NAMES
28b74a591f7a        livetech/fandango-fake-news:0.2.4
6bd5be8e0c98        certh_offline_media_service

[2019-07-03 14:38] dcabo opened #10 "Main page: difference among buttons not evident"
Vittoriano: "Clean and simple, the main page is as we asked, but in terms of usability there is still the problem that three button work with urls and the other two requests a different input - and this is not self-evident. With use and habit this ‘difference’ can disappear but it could still be a problem for first time and infrequent users. I propose to use longer sentences with a stronger font w

[2019-07-03 14:40] dcabo commented on #10
@danielevannella Daniele, I'm going to start entering the user feedback as issues here, as agreed in the last Rome meeting. I'm going to try to label them so they are easier to manage. Should I assign all the LiveTech ones to you, or is the front-end developer in Github also?

[2019-07-03 14:40] dcabo opened #11 "Main page: changing buttons should be more visible"
Vittoriano: "When you click on a button and change the service to use, the page remains the same but for the color of the active button. In my opinion, this should be more visible. Fandango has to give the idea of a single platform but its strength it is also that it is made of different services and this could be made visible with different background colors or something like that."

[2019-07-03 14:47] dcabo opened #12 "Main page: Siren button should be explained or changed"
Vittoriano: "What Siren offers could make the difference with other platform similar to our own. I suggest to change the mouseover to say “Open Advanced Investigative functions on the Siren Platform” or “Open Siren Investigative Services for the Advanced User”."

Hans from VRT suggested something like this:

<img width="598" alt="Screenshot 2019-07-03 at 16 47 34" src="https://user-images.githubus

[2019-07-03 14:49] dcabo opened #13 "Main page: progress bar needed"
Vittoriano: "The spinning wheel is associated to something which is not working like it should for Mac Users, or like the dreaded hourglass for (historic) Windows users. A Progress Bar should be used instead in all the processes on the Fandango platform, especially those associated to photo and video functions, as they could require substantial amount of time."

Hans: "I get the point, but I know

[2019-07-03 14:49] dcabo opened #14 "Search box: input check needed"
Vittoriano: "I think the system should check what kind of input is inserted and all give the possibility to interrupt the search if anything is wrong.  If you insert a sentence instead of a URL in the ARTICLE search box, the systems return a cryptic error message: “Error Occurred, retry later” (which is also the same for everything wrong on the platform). It should instead address the kind of erro

[2019-07-03 14:50] dcabo opened #15 "Search box: stop button needed"
Vittoriano: "If you insert a sentence instead of a URL in the IMAGE search box the system starts just the same but with an icon of  a broken picture, and it keeps going without the possibility to stop it. The same happens with the VIDEO page. Also what happens in the system when a user close a page with a task still in progress?"

[2019-07-03 15:01] dcabo opened #16 "User feedback on Siren"
I'm copying below Vittoriano's comments after using the first version of Fandango in June 2019. He's the one who tried Siren the most. We can break down this issue into separate ones as we progress:

The platform is very interesting but it needs some adjusting to the users’ needs.

1. Video presentation is a good idea. The idea to have a video explaining the various feature should be adopted by al

[2019-07-03 15:08] dcabo opened #17 "Claims: improvements to results page"
Combination of feedback from different users, sorted roughly by priority:

1. The URL of the original text is missing from the result and it should be there, so users can go there and see additional information.

1. Please include author and evaluation of the Claim Review.

1. Body should be formatted. The current unformatted text, without line breaks, is very difficult to read and a time consumin

[2019-07-04 11:10] dcabo opened #18 "The navigation bar in the results page is confusing"
Vittoriano: "In the results page of any section (Article, Claim…) clicking on the buttons at the top just changes the URL. It would be better to go to the home page and select the clicked section, for two reasons: now it looks like nothing has happened, which is confusing; after clicking on a button the browser URL is not the one for the results anymore, which leads to mistakes of sharing the wron

[2019-07-04 11:11] dcabo opened #19 "Video: improve handling of links"
Vittoriano: "the VIDEO service should be able to extract video URLs from web pages, like it does in the ARTICLE page, since it is difficult to find the Video URL on news pages. Also, the VIDEO search does not seem to work with short links, used by many news websites. By the way, Vimeo denied connection to Fandango service when I tried it."

[2019-07-04 11:16] dcabo opened #20 "Image manipulation: more information is needed in the results"
The version we evaluated in June, during the Rome meeting, was not fully completed, and just showed coordinates of bounding box and a general percentage, which we agreed could be misleading.

We all decided to offer more information to the user: making the full mask / heatmap generated by the AI model visible to the user, for example. Or at least drawing the boxes on top of the images, instead of

[2019-07-04 11:21] dcabo opened #21 "Article analysis: ignore small pictures"
I think we could skip the small images below a certain size. Let's say 100 pixels x 100 pixels.

That way icons and logos wouldn't be shown (cleaner to the user), and there would be less work for Fandango to process. In any case, the AI models probably don't work well with such small pictures.

[2019-07-04 11:29] dcabo opened #22 "Article analysis: UI improvements"
Several issues:

- Body: the text should respect the line breaks, otherwise it can't be read. We should discuss whether we want to respect the URLs also.

- There should be a link to the original article.

- The publication date for [an article from The Guardian](https://www.theguardian.com/politics/2019/jul/04/jeremy-hunt-refuses-to-rule-out-sanctions-against-china) is currently missing. The arti

[2019-07-08 14:48] AlbertoGhedin commented on #9
The process is down because because UPM is working on it

[2019-07-08 14:48] AlbertoGhedin commented on #9
Reassigned to David

[2019-07-08 14:49] AlbertoGhedin commented on #8
Hi can you explain the problem?

[2019-07-08 14:50] AlbertoGhedin commented on #7
Active service are up now. For the others Partners are working on them

[2019-07-09 08:59] pstalidis commented on #13
We can provide (after the review) a very rough estimation on media analysis progress.
then the UI will have to show it

[2019-07-09 09:10] pstalidis commented on #19
I will look into this

[2019-07-12 08:35] danielevannella opened #23 "Image error"
Hi @pstalidis
I've a problem with this image:

https://i.guim.co.uk/img/media/3d237a03ae3fec77bbc5cb038ff90a70ab563ff9/0_225_5184_3110/master/5184.jpg?width=1200'

[2019-07-12 09:04] pstalidis commented on #23
@danielevannella
what kind of problem?

On Fri, Jul 12, 2019 at 11:35 AM danielevannella <notifications@github.com>
wrote:

--
Panagiotis Stalidis,
Software Engineer, MSc
Research Assistant
Information Technologies Institute / Centre of Research & Technology -
Hellas <http://www.certh.gr/>

P.O.Box 60361, 6th km Xarilaou - Thermi road, 57001, Thessaloniki, Greece

Tel. +30 2310 464160#141, email:

[2019-07-12 10:43] pstalidis commented on #7
service are up

[2019-07-12 10:43] #7 closed, assigned to nobody

[2019-07-12 10:44] pstalidis commented on #8
this is not an issue

[2019-07-12 10:44] #8 closed, assigned to nobody

[2019-07-12 10:44] pstalidis commented on #9
this is not an issue

[2019-07-12 10:44] #9 closed, assigned to dmgutierrez

[2019-07-12 10:47] pstalidis commented on #20
the service is now returning the full heatmap generated from the classifiers
the output should be shown to the user interface

[2019-07-12 10:57] pstalidis commented on #19
We are using the youtube-dl library to download videos.
The list of supported sites can be found [here](https://ytdl-org.github.io/youtube-dl/supportedsites.html). Vimeo is generally supported.
@dcabo Could this be a **private** video that you tried?
I will add the request for url extraction as a new issue #24.

[2019-07-12 10:58] pstalidis opened #24 "Video urls should be automatically extracted"
Vittoriano asked for the VIDEO service to be able to extract video URLs from web pages, like it does in the ARTICLE page, since it is difficult to find the Video URL on news pages.

[2019-07-12 12:55] danielevannella commented on #23
cannot download image

[2019-07-12 13:30] pstalidis commented on #23
have you tried the url in your browser?
this is the response i get:
"Error 401 Unauthorized - missing signature
Unauthorized - missing signature
Guru Mediation:
Details: cache-mxp19836-MXP 1562938078 2500306850
Varnish cache server"

if the image is unavailable there is not much i can do about it

[2019-07-12 13:30] #23 closed, assigned to nobody

[2019-07-16 10:05] jefersonzanim opened #25 "Technical Data Quality Analysis"
Issue to track all the data quality scenarios that needs to be addressed. I'll make a list as we can strike through them as we finish it. This analysis is based on final data inserted in ES.

Mappings for indices are here: https://github.com/fandangOrg/fandango/blob/elasticsearch-6.x/system/elasticsearch_mappings/create_and_update/

- [ ] fdg-ap-person and fdg-ap-organization field identifier need

[2019-07-16 10:34] neilpbyrne opened #26 "Customize Siren UI with Fandango branding"
Customize Siren UI with Fandango branding using white label plugin.

- Main logo
- Main Name
- Loading gif

[2019-07-16 10:48] dmgutierrez commented on #25
Hi Jefferson,

I have included a new 128 character identifier to be used instead of the id that elasticsearch provides you when you create a new document to solve the issue..

[2019-07-16 11:32] pstalidis commented on #25
@jefersonzanim

can you update "fdg-topic" to include "identifier", "name" and "keywords" fields. they are all "text"/"keyword" type.

something like:
{
    "index_patterns" : "fdg-topic",
    "mappings" : {
      "doc" : {
        "properties": {
            "identifier":{
                "type":"text",
                "fields": {
                    "keyword": {
                        "type": "

[2019-07-16 12:08] neilpbyrne opened #27 "FindSimilarClaims returned data format"
For nested claim reviews, return full data object, rather than specifying fields

claimReview = review._source;
    // claimReview.identifier = review._source.identifier || null;
    // claimReview.claimReviewed = review._source.claimReviewed || null;
    // claimReview.reviewAspect = review._source.reviewAspect || null;
    // claimReview.reviewBody = review._source.reviewBody || null;
    // cla

[2019-07-16 12:09] neilpbyrne commented on #27
complete

[2019-07-16 12:09] #27 closed, assigned to neilpbyrne

[2019-07-16 12:38] pstalidis opened #28 "Updates on elastic index mappings"
@jefersonzanim @neilpbyrne @dmgutierrez @danielevannella

I am creating this issue for everyone to write any requests to elastic search index mappings.

[2019-07-16 12:38] pstalidis commented on #28
Please add to fdg-claim-review the field:
[code]

[2019-07-16 12:40] pstalidis commented on #28
can you update fdg-topic to have
[code]
no other fields are needed

[2019-07-16 14:14] jefersonzanim commented on #28
@pstalidis we need the "keywords" inserted directly in the Article, as well as the name of the topic, otherwise we won't be able to show it in a structured way to the end users. My suggestion is to have it as following:

fdg-article
[code]

fdg-topic
[code]

We will do the join in this case based on the topic name and not the identifier. It is an exception, because, otherwise, the users won't be a

[2019-07-16 14:58] ilkelemmelijn opened #29 "Cookie policy is presented as Title & Body in Article analysis dashboard"
This is the case for all articles on www.hln.be for example

[2019-07-16 15:26] jefersonzanim commented on #28
@neilpbyrne can you, please do the update for the claim-review in the meantime?

[2019-07-16 15:27] ilkelemmelijn opened #30 "Image analysis: labels should be more explaining & clear + no trustworthiness rating"

[2019-07-16 17:39] pstalidis commented on #28
I hope you mean "about" and not "mentions" because "mentions" contains the
named entities.

So, in fdg-topic I store {"name": "economy", "keywords": ["money", "lots",
"of", "them"]} without the identifier 27en (which is known only to me).
And in article I store {..., "about": ["economy", "trump", ...], ...}. (i.e
the "names")

do I understand correctly?

On Tue, Jul 16, 2019 at 5:14 PM jefersonzan

[2019-07-16 18:58] jefersonzanim commented on #28
Let's catch up tomorrow morning. I think we are still diverging on this, but we can get it sorted.

[2019-07-17 08:22] AlbertoGhedin opened #31 "DockerHub organization for Fandango"
It has been created a docker horganization for Fandango linked to this git hub repository.

https://cloud.docker.com/orgs/fandangorg/teams

[2019-07-17 08:22] #31 closed, assigned to clazando

[2019-07-17 10:51] AlbertoGhedin opened #32 "Kafka is down"
Accesing to the ip ..... port .... I'm having error
....

[2019-07-17 10:53] AlbertoGhedin commented on #32
I need also ....

[2019-07-17 10:53] jefersonzanim commented on #28
@pstalidis you are right, the correct field is "about" and not "mention" 🙂
The about field on the Article should contain something like: ["potato","land","rain","plague"]
Then, we need a new field on the Article that will be "topic". This new field will contain: ["Agriculture"]

[2019-07-17 10:53] #32 closed, assigned to AlbertoGhedin

[2019-07-17 10:55] AlbertoGhedin commented on #32
JUST A SAMPLE

[2019-07-17 11:01] theosem opened #33 "test"
test @stalidis

[2019-07-17 11:02] #33 closed, assigned to nobody

[2019-07-17 12:06] pstalidis opened #34 "Edit fields in the kafka queue"
following from @jefersonzanim comment in #28

we need to add a field called "topic" in the aggregated article.

[2019-07-17 12:12] pstalidis commented on #28
I created a new issue to follow up on the new field.

@neilpbyrne when you complete the fdg-claim-review update close the issue

[2019-07-17 12:38] pstalidis commented on #24
this should be handled in the UI and the appropriate request should be made
also check #14

[2019-07-17 18:18] pstalidis commented on #15
when a "url" (the input in the text field) does not lead to a downloadable image in a well known format (jpeg, png) the back-end returns an error message.
@danielevannella the front-end should provide such a message to the user
also a check should be made **before** calling the service for malformed urls

[2019-07-17 18:31] pstalidis commented on #17
there are multiple issues here both for the front and the back end
i will start answering the back-end ones
1. the url is already stored in the database
2. author and evaluation are stored when available in the schema.
4. the text returned is the one available in the web page.
5. the publication date is the date provided in the schema. (if it is missing the oldest known date of being published is

[2019-07-17 19:34] pstalidis commented on #22
@danielevannella please fix the spelling mistakes (5,6)
@danielevannella the back end provides a url, include it (2)
@danielevannella if this is not already fixed, a suggestion would be to show the summary here and redirect the user to the original (formatted) article using the link (1,2)

[2019-07-17 19:50] pstalidis opened #35 "missing author and publisher in article"
There's currently no author and no publisher for a [normal article from The Guardian](https://www.theguardian.com/politics/2019/jul/04/jeremy-hunt-refuses-to-rule-out-sanctions-against-china) so we can't evaluate this part.

[2019-07-17 19:51] pstalidis commented on #22
html, the language web pages are written in, is a presentation and formatting language and does not have semantic information included. what a human can clearly see and understand is not necessarily easy for a machine to recognise and attach the necessary semantics to it. that means that while **we** can recognize the date and author, the **crawler** might miss. (3,4)
as we have discussed, if ther

[2019-07-17 19:51] pstalidis commented on #22
@danielevannella when 1,2,5 and 6 are handled please close the issue

[2019-07-19 14:00] pstalidis commented on #34
@danielevannella the topics service (both offline and online) now returns an additional field called "topic" of type text which should be included in the Article.
@AlbertoGhedin who do i assign this to for eng?

[2019-07-19 14:14] pstalidis commented on #21
images smaller than 100x100 pixels and images with ratio (height/width) less than 1/3 or more than 3. are no longer analyzed but return "status": "error", "error": "not supported image shape"

[2019-07-19 14:14] #21 closed, assigned to pstalidis

[2019-07-19 15:16] neilpbyrne opened #36 "Similar Articles not showing when Article first analyzed"
When I analyze an article through the UI, I see "No similar Articles" upon first analysis.
If I reload the page the similar articles show.

My guess is that the FinsSimilarArticles endpoint is being called *before* the analysis returns an article id.

**First Load**
![just_loaded](https://user-images.githubusercontent.com/45828285/61545914-6cb5e680-aa40-11e9-8727-16e8a6669d82.png)

**Page Reloaded

[2019-07-19 15:17] federicovagnoni commented on #4
Hi Daniele, you can find the monitor interface at http://40.114.234.51:9001/kafkahq
You can find the Usage Guidelines here: https://docs.google.com/document/d/1jrJKR-lvhAY1n5N2_Wps8FcBwKoTIejr17Mat8iq520/edit?usp=sharing

[2019-07-19 15:28] AlbertoGhedin commented on #34
To Massimo. In all the cases Federico is on it

[2019-07-19 15:48] AlbertoGhedin opened #37 "Test"

[2019-07-19 15:48] #37 closed, assigned to nobody

[2019-07-19 15:53] AlbertoGhedin opened #38 "I want to receive an email when a Issue is created even if not assigned to me"
Hi you can do that following this procedure: https://help.github.com/en/articles/watching-and-unwatching-repositories

[2019-07-19 15:53] #38 closed, assigned to AlbertoGhedin

[2019-07-19 15:58] AlbertoGhedin commented on #38
In your settings enable the email notification for watching repositories like that
![image](https://user-images.githubusercontent.com/16880255/61548729-9e35ae80-aa4e-11e9-8016-181e8b838d56.png)

[2019-07-19 16:26] danielevannella opened #39 "extract_topics services error"
Hi guy, we have this problem:

SERVICE TOPIC 500 Server Error: INTERNAL SERVER ERROR

http://40.114.234.51:5006/api/extract_topics

@theosem @pstalidis

[2019-07-19 20:42] pstalidis commented on #35
just tested and the author is parsed correctly by the crawler.
I am closing this issue for now
If we can find other examples please reopen

[2019-07-19 20:42] #35 closed, assigned to pstalidis

[2019-07-19 20:44] pstalidis commented on #34
@AlbertoGhedin I can't find Federico's handle, can you assign it to him?

[2019-07-22 08:36] danielevannella commented on #39
Sorry, I'have again this error.

ERROR SERVICE TOPIC 500 Server Error: INTERNAL SERVER ERROR for url: http://40.114.234.51:5006/api/extract_topics

please Help me :D

@pstalidis

[2019-07-22 08:39] AlbertoGhedin commented on #39
Please Assign to assignee in order to help colleagues to address the issue

[2019-07-22 10:14] pstalidis commented on #39
we had a power failure, the service is back up.
@danielevannella if a service is down please send an email instead of adding an issue

[2019-07-22 10:14] #39 closed, assigned to theosem, pstalidis

[2019-07-22 10:29] federicovagnoni commented on #34
Hi @pstalidis! I've added the topic field in the final article. Just to be clear: is it a string or an array of strings? P.S.: now you can tag me in the issues!

[2019-07-22 10:47] pstalidis commented on #34
It is a string.
ps: great :)

[2019-07-22 10:50] danielevannella commented on #34
Hi @pstalidis , now I receive this json:

about
mentions
identifier

Is it Correct?

[2019-07-22 12:35] pstalidis commented on #34
you should be getting:
[code]
don't you get topic?

[2019-07-22 12:59] danielevannella commented on #34
{'about': ['altro', 'italiano', 'potere', 'sempre', 'parlare', 'provincia',
'stare', 'partire', 'societa', 'richiedere', 'politico', 'consigliare',
'tempo', 'presidente', 'andare', 'locale', 'problema', 'vero', 'camera',
'cosa', 'cercare', 'mese', 'bastare', 'modo', 'bene', 'diritto', 'cosi',
'spesa', 'chiamare', 'giovane', 'certo', 'usare', 'dirigere', 'nuovo',
'dire', 'chiudere', 'contare', 'gra

[2019-07-22 13:19] pstalidis commented on #34
now?

[2019-07-22 13:31] danielevannella commented on #34
No,

is it correct this url http://40.114.234.51:5006?

Il giorno lun 22 lug 2019 alle ore 15:19 Panagiotis Stalidis <
notifications@github.com> ha scritto:

[2019-07-22 13:43] pstalidis commented on #34
Ok, found the problem, i was updating the wrong file.
It should be ok now.

[2019-07-23 08:56] pstalidis commented on #34
@danielevannella can I get a reply if everything is ok?

[2019-07-23 09:57] danielevannella commented on #34
Good :D

{'about': ['altro', 'italiano', 'potere', 'sempre', 'parlare', 'stare',
'partire', 'societa', 'richiedere', 'fondamento', 'consigliare', 'tempo',
'andare', 'problema', 'vero', 'municipio', 'cosa', 'cercare', 'mese',
'bastare', 'chiesa', 'modo', 'bene', 'entrare', 'municipale', 'gennaio',
'cosi', 'chiamare', 'giovane', 'certo', 'usare', 'dirigere', 'nuovo',
'dire', 'contare', 'grande', 'ar

[2019-07-23 09:58] #28 closed, assigned to pstalidis, jefersonzanim, neilpbyrne

[2019-07-23 09:58] neilpbyrne commented on #28
All mappings updated

[2019-07-23 09:59] #4 closed, assigned to giocalor

[2019-07-23 11:19] neilpbyrne opened #40 "Update "FindSimilarArticles" to match ES mappings"
Topic field missing. Verify all other fields present.

[2019-07-23 11:38] pstalidis commented on #34
because that is the label defined by the end users.
I am now closing this issue

[2019-07-23 11:38] #34 closed, assigned to pstalidis, danielevannella

[2019-07-23 14:35] danielevannella commented on #39
Hi guys,

we update new docker image.

best
DV

[2019-07-24 10:27] federicovagnoni opened #41 "Duplicates on analyzed_media topic"
We started the crawler again this morning and it seems that certh_media_service is producing duplicates.

Reading from analyzed_media topic in kafka, we can see an example:
![immagine](https://user-images.githubusercontent.com/4192579/61786517-267cd080-ae0e-11e9-84a3-8a3c176715b9.png)

![immagine](https://user-images.githubusercontent.com/4192579/61786677-7fe4ff80-ae0e-11e9-81fd-bb0340f5d7bd.png)

[2019-07-24 12:38] pstalidis commented on #41
Did you also restart the media analysis service, or the preprocessing service?

Both services use the kafka-python library to read the kafka topics which has a known bug.
The last processed article before stopping the service is analyzed again as the first article when the service starts. This has to do with starting **from** and not **after** the last committed message.

[2019-07-24 12:40] federicovagnoni commented on #41
I only started the crawler. All the service were already online.
But the duplicates are generated during the execution. It seems that they are not so frequent, anyway.

[2019-07-24 13:14] pstalidis commented on #41
I added a live tail an hour ago and I haven't seen any duplicates.
Let's monitor this a bit longer and look at it again next week.

[2019-07-24 13:25] federicovagnoni commented on #41
I found two occurences in the last 10 minutes:
2 | dd8754ea5ed8093a87f3fd044dc2f9bf770a0956448c5f2effae838f8f84d81b67c6d880587a89e00641fc0d20851d9f561c792461280ff2ca1a234dffa92ab6

The first number counts the occurences in the topic. I'm pretty sure they are subsequent like I showed you before.

![immagine](https://user-images.githubusercontent.com/4192579/61797222-3e148300-ae27-11e9-97e8-b44b6da8

[2019-07-24 13:33] pstalidis commented on #41
I just checked the input_raw and input_preprocessed queue. The exact same duplicates are also in the input_preprocessed
![input_preprocessed](https://user-images.githubusercontent.com/24522654/61797994-335eeb80-ae31-11e9-902c-c7394ee65035.png)
but **not** in the input_raw topic.
![input_raw](https://user-images.githubusercontent.com/24522654/61797980-2d690a80-ae31-11e9-9535-bdd03c5f2348.png)

So t

[2019-07-25 07:34] federicovagnoni opened #42 "certh_offline_ner_service crashed"
Hi!
The service worked well all night long, but 2 hours ago it crashed with this error:

![immagine](https://user-images.githubusercontent.com/4192579/61854883-50da9680-aebf-11e9-9511-0a15379c4e2a.png)

I already stopped the crawler.

[2019-07-25 09:01] pstalidis commented on #42
fixed

[2019-07-25 11:02] federicovagnoni opened #43 "All Docker Images have to be on Docker Hub"
Hi everyone,
can you please push all your images on the official Fandango account on Docker Hub?
https://cloud.docker.com/u/fandangorg/repository/list

Thank you!

[2019-07-25 12:28] pstalidis commented on #43
I am still waiting for the guide on how to make the docker images

[2019-07-25 12:31] federicovagnoni commented on #43
Here it is:
https://docs.google.com/document/d/1yFfTyB1BxhxM_LLoj5KJ8iSiZtbsk7sqCRabwv_IIVM/edit?usp=sharing

Here are the best practices for writing a Dockerfile:
https://docs.docker.com/develop/develop-images/dockerfile_best-practices/

Let me know if you have questions!

[2019-07-26 07:09] federicovagnoni commented on #42
A new error (4 hours ago):
![immagine](https://user-images.githubusercontent.com/4192579/61933014-1a674f00-af85-11e9-8fde-d68b8b9690e0.png)

[2019-07-29 10:22] neilpbyrne commented on #36
@macagari can you see this?

[2019-07-29 10:23] macagari commented on #40
.

[2019-07-29 10:26] macagari commented on #36
@neilpbyrne yep!

[2019-07-29 10:43] #42 closed, assigned to pstalidis

[2019-07-29 10:51] federicovagnoni opened #44 "Text analysis service is stuck"
![immagine](https://user-images.githubusercontent.com/4192579/62042857-59a0d480-b1ff-11e9-978f-2312ff56fabf.png)

[2019-07-29 11:05] tavitto16 commented on #43
Preprocessing and Graph_analysis service images are already in Fandangorg. @pstalidis , if you need some help, please let me know. BR

[2019-07-29 11:10] macagari commented on #10
@dcabo  I don't know why I can be assigned to any issue tracker, I will ask why to Claudia Zandoli.
Can you tag me in the new issues about the UI? Thank you in advance.

[2019-07-29 11:25] pstalidis commented on #43
I will get to this after i am finished with the deliverables, in a couple
of days.
I think my last try for "docker push
fandangorg/certh_offline_ner_service:v1.0.1" was denied with "requested
access to the resource is denied"

If I fail again I will let you know

On Mon, Jul 29, 2019 at 2:05 PM tavitto16 <notifications@github.com> wrote:

--
Panagiotis Stalidis,
Software Engineer, MSc
Research Ass

[2019-07-29 11:25] macagari commented on #12
@dcabo it'll be changed as in the picture.

[2019-07-29 11:55] macagari commented on #13
For now it's not a priority, we can talk about this after the review.

[2019-07-29 12:39] macagari commented on #36
I think that's the problem, thank you :) @neilpbyrne

[2019-07-29 13:13] neilpbyrne commented on #36
@macagari ahhh there you are :)

[2019-07-29 13:54] federicovagnoni commented on #43
You are right. I have to create repositories on the organization.

EDIT: Done

[2019-07-29 14:08] macagari commented on #44
@federicovagnoni We will check as soon as possible, thanks for letting us know

[2019-07-29 14:26] macagari commented on #36
Come on ! now I have to work xD @neilpbyrne

[2019-07-29 15:57] neilpbyrne commented on #40
Complete and Deployed - also, @jefersonzanim I've attempted to improve the search results.
If you get a chance to test, perhaps you could give me some feedback

[2019-07-29 15:57] #40 closed, assigned to neilpbyrne

[2019-07-31 07:08] pstalidis opened #45 "requests to the api"
in the last few hours I am getting **5-6** requests per **second** with the content `{"url": "prova"}` from the user interface. is there a specific reason for this?

[2019-07-31 10:44] dcabo opened #46 "Wrong layout of navigation buttons on narrow widths"
The buttons in the navigation bar get wrapped up when the browser width is not enough. This is a very weird behaviour. Also because the full width is not being used. Here you can see how the Siren button falls to a second line:

<img width="1108" alt="Screenshot 2019-07-31 at 12 42 51" src="https://user-images.githubusercontent.com/17741/62205899-d1eacf80-b390-11e9-8404-e56993eb8482.png">

[2019-07-31 10:46] dcabo commented on #17
@danielevannella is there any progress on this issue? I can't prepare the presentation for the review properly if I can't see the original URL and the review result.

[2019-07-31 10:51] dcabo opened #47 "The logo in the navigation bar gets distorted on certain browser widths"
The behaviour of the logo in the navigation bar of the results page is not correct.

First, it gets bigger and smaller depending on the browser width, which is a very unusual behaviour. In a normal responsive design, it should stay the same size until the window is too narrow, and then the layout should change  so it moves to be on its own line, not left of the search bar.

Even worse, when it cha

[2019-07-31 14:13] dcabo opened #48 "Claims: duplicated results"
We had mentioned in other issues (see #17) that some users had seen duplicated results in the Claim section, but we hadn't been able to reproduce it so far. I just found an example: [this query](http://fandango.livetech.site:15003/analyze/claim;url=immigrazione), which searches for "immigrazione" in the claim database, returns a number of duplicated results from Pagella Politica.

<img width="819"

[2019-07-31 14:22] danielevannella commented on #48
@pstalidis @jefersonzanim

[2019-07-31 14:47] jefersonzanim opened #49 "[First Pilot] Initial Execution Planning"
Planing for the First Pilot of Fandango based on tasks agreed in the 5th Plenary Meeting in Thessaloniki.

![image](https://user-images.githubusercontent.com/37871435/62221974-7594a980-b3aa-11e9-97af-79c0859af035.png)

[2019-07-31 14:48] macagari commented on #47
We will fix it.

[2019-07-31 14:51] neilpbyrne commented on #48
I've noticed this too for "Articles" as well as "Claims". I ran a number of queries directly against Elasticsearch and have seen a lot of duplication - sometimes 5+ of the same article, but with different _id

@pstalidis Could you have a look at this, as it must be happening at ingestion?

Thanks

[2019-07-31 14:59] jefersonzanim opened #50 "[First Pilot] Collect metrics about the manual process of identifying content trustworthiness"
Collect metrics about the process of identifying content trustworthiness with end-users.

Data agreed to be collected over 2 full days of work (half a day on each of the 4 use cases). Each user partner in the project (CIVIO, ANSA and VRT) to provide the measurements with 2 different users results.

Measurements should be logged separately for the multiple executions of each use case along the half

[2019-07-31 15:05] jefersonzanim opened #51 "[First Pilot] Provide quantifiable results of the manual process"
Provide a standard spreadsheet (same format for all partners) with the data collected for each execution of the use cases during the manual process pilot.

Depends on https://github.com/fandangOrg/fandango/issues/50

[2019-07-31 15:09] pstalidis commented on #48
so, if the id is different, then the url is also different since the id is a hash of the url
i did a search against the url of the example that david sent and i only got a single response

@neilpbyrne can you also check the urls of the duplicate results?

[2019-07-31 15:13] jefersonzanim opened #52 "[First Pilot] Delivery of FANDANGO 0.4"
Delivery of the first functional iteration of FANDANGO with real data to be used on the First Pilot.

[2019-07-31 15:17] jefersonzanim opened #53 "[First Pilot] Collect metrics about the FANDANGO process of identifying content trustworthiness"
This depends on https://github.com/fandangOrg/fandango/issues/52

Collect metrics about the process of identifying content trustworthiness with end-users using the **FANDANGO** platform.

Data agreed to be collected over 2 full days of work (half a day on each of the 4 use cases). Each user partner in the project (CIVIO, ANSA and VRT) to provide the measurements with 2 different users results.

Me

[2019-07-31 15:25] jefersonzanim opened #54 "[First Pilot] Provide quantifiable results of the FANDANGO process"
Depends on https://github.com/fandangOrg/fandango/issues/53

Provide a standard spreadsheet (same format for all partners) with the data collected for each execution of the use cases during the **FANDANGO** process pilot.

[2019-07-31 15:27] jefersonzanim opened #55 "[First Pilot] Consolidate the Pilot results for the final report"
Depends on https://github.com/fandangOrg/fandango/issues/51 and https://github.com/fandangOrg/fandango/issues/54

Consolidate, create graph visualizations from the data gathered by users on the pilot executions and provide descriptive analysis of the results, culminating on deliverable D6.2.

[2019-07-31 15:29] jefersonzanim opened #56 "[First Pilot] Revise the Pilot results and D6.2"
Depends on https://github.com/fandangOrg/fandango/issues/55

Revision of the Pilot report D6.2.

[2019-07-31 15:31] jefersonzanim opened #57 "[First Pilot] Execution scheduling with users"
Plan the dates for the manual and the FANDANGO data collection to be carried out.

[2019-07-31 15:33] jefersonzanim commented on #57
@dcabo @vittorianovancini @ilkelemmelijn can you, please, confirm what would be the earliest date we could discuss this? I know @dcabo will be on holidays for 2 weeks, but we can try to pencil it in right after that.

Thanks!

[2019-07-31 15:40] vittorianovancini commented on #57
?I'm available the whole month (but not on Ferragosto), just choose the date...

________________________________
Da: jefersonzanim <notifications@github.com>
Inviato: mercoledì 31 luglio 2019 17:33
A: fandangOrg/fandango
Cc: Vancini Vittoriano; Mention
Oggetto: Re: [fandangOrg/fandango] [First Pilot] Execution scheduling with users (#57)

@dcabo<https://urlsand.esvalabs.com/?u=https%3A%2F%2Fgithu

[2019-08-01 11:54] neilpbyrne commented on #48
Hi @pstalidis , you are actually correct, the duplicate articles had different ids, which of course means they are from different urls.
Does it make sense that it's ok to have the exact same article as long as the url is different?

Here are the urls of the fdg-article duplicates (There are actually more than posted below):

https://www.ansa.it/nuova_europa/it/notizie/rubriche/infrastrutture/2019/

[2019-08-01 12:04] neilpbyrne commented on #48
Hi @pstalidis , you are actually correct, the duplicate articles have different ids, which of course means they are from different urls.

The strange thing is, even though each of these urls links to a different article, each “articleBody” field in elastic is being populated identically - with the string "For the moment, let us be happy of ‘string theory’".

Any ideas why that might be??

Here are

[2019-08-01 12:12] neilpbyrne commented on #48
@dcabo I just had a look at the duplicate results you pointed out and I see what's happening.

The domain in question - pagellapolitica.it - publishes articles to www.pagellapolitica.it, and pagellapolitica.it

The urls for both articles are:
*https://pagellapolitica.it/dichiarazioni/5530/immigrazione-110220-mila-irregolari-in-italia*
*https://www.pagellapolitica.it/dichiarazioni/5530/immigrazione

[2019-08-01 12:33] jefersonzanim commented on #48
@Panagiotis Stalidis <stalidis@iti.gr> @Theodoros Semertzidis
<theosem@iti.gr> is this something that can be treated in the crawling to
avoid www duplicating content?

Thanks,
Jeferson Zanim
Head of Client Services, Siren
A Block C, 77 Sir John Rogerson's Quay, Dublin, D02 T804, Ireland
P +353 (0)1 553 0200  <+353+(0)1+553+0200>
M +353 85 107 7810  <+353+85+107+7810>
E jeferson.zanim@siren.io  <je

[2019-08-01 15:51] jefersonzanim commented on #48
Tagging @theosem and @pstalidis here to see if they can treat the data collection to prevent collecting duplicated records.

[2019-08-01 17:27] pstalidis commented on #48
I will try to think of something and get back to you

[2019-08-02 07:15] ilkelemmelijn opened #58 "[Data Annotation] Train users in annotation system"

[2019-08-02 07:16] ilkelemmelijn opened #59 "[Data Annotation] Annotate articles"
This depends on https://github.com/fandangOrg/fandango/issues/58

[2019-08-03 08:53] pstalidis commented on #43
@federicovagnoni I still cant push to dockerhub
[code]
but then
[code]
I am logged in to my account succesfully
[code]

[2019-08-05 07:32] federicovagnoni commented on #43
Sorry, my fault! Now you should be able to push!

[2019-08-05 16:31] pstalidis commented on #43
Ok, I have pushed all 4 of CERTHs images.
Just to be on the safe side, let me check that I have all environment variables correct and you can use them after that

[2019-08-06 09:45] federicovagnoni commented on #43
Thank you very much!
I just tried it and it works like a charm.
I didn't include the "certh_online_services" image because I was afraid of interrupting something.

Anyway I did not reset the crawler folder, so for now it is not injecting anything new.
The media service has 63K articles to consume, because it stopped few days ago.

[2019-08-06 09:47] federicovagnoni commented on #44
Hi guys!
I don't know if you had time to check it (I think the image has been updated), but the error is still there!

[2019-08-08 11:28] federicovagnoni opened #60 "Media analysis service crashed"
It happened an hour ago!

![immagine](https://user-images.githubusercontent.com/4192579/62699679-659b4c00-b9e0-11e9-8df0-8753928162cb.png)

[2019-08-10 16:38] pstalidis commented on #60
I have reset the analyzers on our side

[2019-08-10 16:50] pstalidis commented on #45
@danielevannella the UI should check for invalid urls **before** sending them to the backend. Also there should be a fail check and stop sending the same request repeatedly for ever. If the request is handled by the backend, the status code will be 200, if the status code is 500, you are never going to get a response no matter how many times you send the request.

[2019-08-11 07:36] pstalidis opened #61 "text of ansa articles incorrectly parsed"
![Screenshot_2019-08-11_10-27-20](https://user-images.githubusercontent.com/24522654/62831178-ca92b400-bc23-11e9-8c2e-b459c7b9df36.png)
The crawler incorrectly identifies the circled part as the only text.

[2019-08-11 07:52] pstalidis commented on #48
![Screenshot_2019-08-11_10-27-20](https://user-images.githubusercontent.com/24522654/62831130-f5c8d380-bc22-11e9-9c81-e4db66457626.png)
So, one problem is that the crawler incorrectly identifies the circled part as the only text. I added a new issue #61 for this.
The second problem is duplicate articles in subdomains. The only idea I could come up with, that does not require changing the identifie

[2019-08-12 08:55] jefersonzanim commented on #48
@pstalidis if you consider only the root domain, like 'newsagency.com' and the title, in a way that for each domain you would only have one news article with each title, would that work?

[2019-08-16 15:14] neilpbyrne commented on #36
Hey @macagari , looks like this is fixed. Nice work! Will I close this issue?

[2019-08-19 14:52] pstalidis commented on #61
Added special handling for ansa articles in crawlers v1.1.1

[2019-08-19 14:52] #61 closed, assigned to pstalidis

[2019-08-19 14:56] pstalidis commented on #48
I have updated the identifier to consist of the root domain (without www) and the path in crawlers version v1.1.1

[2019-08-19 14:56] #48 closed, assigned to theosem, pstalidis, danielevannella

[2019-09-02 12:55] #60 closed, assigned to pstalidis

[2019-09-02 12:57] pstalidis commented on #20
I see that the UI now shows the heatmaps

[2019-09-02 12:57] #20 closed, assigned to pstalidis, danielevannella

[2019-09-02 13:00] pstalidis commented on #43
@federicovagnoni if all docker images are on dockerhub close the issue

[2019-09-02 13:02] federicovagnoni commented on #43
Livetech image is the last one

[2019-09-16 17:48] pstalidis opened #62 "Blob storage"
Since the output of the media analysis is now image masks and videos and we should store the analysis in the system, we should use some king of blob storage.

[2019-09-16 17:48] pstalidis commented on #13
field "progress" returns an estimate of the progress for video analysis (20% for download, 20% for extracting frames, 50% for analysing frames, 10% for creating mp4 video)
progress for image analysis will wait until blob storage #62

[2019-09-16 17:53] pstalidis commented on #29
I am going to perform some tests with a new extraction library and see if cookie policy etc are handled better

[2019-09-17 08:24] federicovagnoni commented on #62
Hi Panagiotis!
Here are the guidelines: https://drive.google.com/open?id=1sN52aBMSxWWtvrehVrCtQse16Vpd9ITG-QEQzfw3RpI
You can also find them in the Fandango Project folder.
For the API Key you have to contact me via email.

[2019-09-17 12:21] pstalidis commented on #62
Working great! I already changed the video analysis code to use it.

[2019-09-17 12:21] #62 closed, assigned to federicovagnoni

[2019-09-17 12:24] AlbertoGhedin commented on #62
Great! We integratred it after july meeting but the documentation was missing..
You see? You ask and you get!!!

[2019-09-18 12:24] pstalidis commented on #19
Closing this issue. Reopen if the problem continues to exist.

[2019-09-18 12:24] #19 closed, assigned to pstalidis

[2019-09-18 12:28] pstalidis commented on #43
Let's close this issue. I trust that livetech will remember to switch to fandango docker hub soon

[2019-09-18 12:28] #43 closed, assigned to tavitto16, pstalidis, dmgutierrez, danielevannella

[2019-09-18 12:31] pstalidis commented on #30
The UI no longer shows the trustworthiness score.
Instead of labels we now have masks.

If what you have seen in the review is OK, lets close the issue

[2019-09-18 12:34] pstalidis commented on #17
Closing the issue assuming that it has been solved before the review.

[2019-09-18 12:34] #17 closed, assigned to pstalidis, danielevannella

[2019-09-19 21:00] #45 closed, assigned to danielevannella

[2019-09-24 08:04] #36 closed, assigned to macagari, danielevannella

[2019-09-24 08:07] pstalidis opened #63 "Duplicate entries created by preprocessing"
Somehow the preprocessing creates duplicate entries in the queue.
Input raw queue:
https://user-images.githubusercontent.com/24522654/61797980-2d690a80-ae31-11e9-9535-bdd03c5f2348.png
Preprocessing queue:
https://user-images.githubusercontent.com/24522654/61797994-335eeb80-ae31-11e9-902c-c7394ee65035.png

[2019-09-24 08:08] pstalidis commented on #41
analyzed media processes duplicates originating earlier in the queue. (added issue #63 )

[2019-09-24 08:08] #41 closed, assigned to pstalidis

[2019-09-24 08:15] pstalidis commented on #47
logo behavior looks correct.

[2019-09-24 08:15] #47 closed, assigned to danielevannella

[2019-09-24 08:16] pstalidis commented on #46
This has not been fixed yet.

[2019-09-24 08:18] #44 closed, assigned to macagari, danielevannella

[2019-09-24 08:19] #26 closed, assigned to neilpbyrne

[2019-09-24 08:21] #16 closed, assigned to jefersonzanim

[2019-09-24 08:24] #10 closed, assigned to danielevannella

[2019-09-24 08:24] #11 closed, assigned to danielevannella

[2019-09-24 08:24] #12 closed, assigned to danielevannella

[2019-09-24 08:27] #14 closed, assigned to danielevannella

[2019-09-24 08:30] pstalidis commented on #15
added an endpoint in media analysis services to stop an ongoing analysis

[2019-09-24 08:33] pstalidis commented on #22
I am assuming these are fixed

[2019-09-24 08:33] #22 closed, assigned to danielevannella

[2019-09-24 08:34] #30 closed, assigned to pstalidis, ilkelemmelijn

[2019-09-24 08:39] pstalidis opened #64 "Near dublicate media detection"
The platform should provide links to articles where the media is (almost) identical to the contained media.

[2019-09-30 16:42] pstalidis opened #65 "Add start datetime for media analysis"
In order to better predict an ETA for a media analysis both the progress (in percentage) and a start date and time is needed.

[2019-09-30 16:43] pstalidis commented on #65
Added fields "analysisStart" and "progress" in media analysis json.

[2019-09-30 16:43] #65 closed, assigned to pstalidis

[2019-09-30 16:46] pstalidis opened #66 "[First Pilot] claims and claim reviews"
In order to have recent claims and claim reviews, start iterative gathering.

[2019-09-30 16:48] pstalidis commented on #66
Claims crawler is ready and being tested. It will be started when tests are passed.

[2019-09-30 16:50] pstalidis opened #67 "Gather facts from open sources"
We need to gather factual data from open sources like eurostat and eurobarometer.

[2019-09-30 16:52] pstalidis opened #68 "Landmarks"
Add location prediction such as the city a media was taken, based on the visual content.

[2019-09-30 17:11] pstalidis opened #69 "Asynchronous data ingestion"
Right now, data ingestion is a synchronous process. This means that **all** analysis must finish **before** an article can be ingested in the database. This means that ingestion can fail if **any** analyser fails (single pint of failure) and the speed of ingestion is limited to the slowest of the analysers.
Since each part of the analysis is stored separately (fdg-entity, fdg-media, fdg-author, et

[2019-10-02 10:54] jefersonzanim commented on #69
Hi @pstalidis ! Is there anything I can help directly with this?

[2019-10-02 10:59] danielevannella commented on #69
Hello @pstalidis why did you assign me this?

[2019-10-02 10:59] danielevannella commented on #69
Sorry I didn't see all.

[2019-10-02 11:13] pstalidis commented on #69
@danielevannella I assigned everyone involved in the data ingestion process
@jefersonzanim we should discuss this issue in the next technical call

[2019-10-02 11:55] AlbertoGhedin commented on #69
Agree, let discuss in next call

[2019-10-02 14:09] dmgutierrez commented on #69
Hi Guys,

The next technical call is planned to be held *this Friday October 4th *or
is the one that we have every two weeks on Tuesdays?

On Wed, Oct 2, 2019 at 1:55 PM AlbertoGhedin <notifications@github.com>
wrote:

[2019-10-02 17:38] jefersonzanim commented on #69
We have a call on Friday. All topics pertinent to the execution of the
Pilots can be addressed then.

Jeferson Zanim
Head of Client Services, Siren
A Block C, 77 Sir John Rogerson's Quay, Dublin, D02 T804, Ireland
P +353 (0)1 553 0200  <+353+(0)1+553+0200>
M +353 85 107 7810  <+353+85+107+7810>
E jeferson.zanim@siren.io  <jeferson.zanim@siren.io>
W www.siren.io
<http://www.siren.io?utm_source=Wise

[2019-10-03 11:57] pstalidis commented on #67
script to gather data from eurostat is ready

[2019-10-03 16:43] mmagaldi-eng commented on #69
I'm sorry guys, but I cannot attend the conf call tomorrow.
We should discuss about it next week (I've just sent an email on this).
As I've written, to reduce reworking we should consider this together with fusion score (T4.5).

[2019-10-03 16:47] mmagaldi-eng commented on #69
@pstalidis don't forget that (despite myself) I'm the person in charge of the "offline" process... ;)

[2019-10-04 10:19] jefersonzanim commented on #69
@mmagaldi-eng there's no technical call currently scheduled.

[2019-10-04 13:36] pstalidis commented on #69
@mmagaldi-eng sorry, I thought I had assigned you too
@jefersonzanim FANDANGO - Technical Call
Tue, Oct 8, 2019 10:30 PM - 12:30 AM CEST
Please join my meeting from your computer, tablet or smartphone.
https://global.gotomeeting.com/join/990869773

[2019-10-04 14:21] danielevannella commented on #69
I'll be at a conference.

Il giorno ven 4 ott 2019 alle ore 15:36 Panagiotis Stalidis <
notifications@github.com> ha scritto:

[2019-10-08 07:20] pstalidis commented on #66
Claims crawler is running

[2019-10-08 07:20] #66 closed, assigned to pstalidis

[2019-10-08 07:20] pstalidis commented on #67
Eurostat published data is gathered

[2019-10-08 07:20] #67 closed, assigned to pstalidis

[2019-10-25 08:58] tavitto16 opened #70 "The scores for authors are getting to 50 all time"
By some how, periodically, the values that an author has are settled to 50 that is the initial value. Fortunately, we have a backup in the Neo4j DB, however, we need to understand why is this happening to inserted to ES and solve it

[2019-10-25 08:59] tavitto16 commented on #70
UPM will check the overall workflow, we have an intuition...  We will update it early next week. BR

[2019-10-25 09:13] neilpbyrne opened #71 "Investigate "Open Data" web service fields"
At present, open data web service is returning "dataset" and "title" fields.
Need to return "source" and "description".

Will sync up with Camila

[2019-10-25 09:39] macagari commented on #71
OK, i will follow, I don't know why I can't be tagged but Ok, don't worry :)

[2019-10-25 09:39] tavitto16 opened #72 "Daemon for continuous docker-services run and backup security"
We shall have the services running continuously, sometimes the services fall down and not restarted until someone realizes it.

[2019-10-25 09:42] macagari commented on #13
Oh sorry, Today I forgot to show but it's done, the bar progress is there, on the video service. Let me know if it's ok. :)

[2019-10-25 09:44] macagari commented on #18
OK, We can fix that, not a problem.

[2019-10-25 09:46] macagari commented on #29
Well, I think this is something to handle with the preprocessing, don't you ?

[2019-10-25 09:47] neilpbyrne commented on #71
@macagari it's because I forgot your github username!

[2019-10-25 12:41] pstalidis commented on #72
The first step should be to add a cronjob to start all services at boot time.

[2019-10-25 12:53] pstalidis commented on #13
The progress bar looks fine to me

[2019-10-25 12:56] pstalidis commented on #29
@macagari No, unfortunately this has to do with how the crawlers work.

[2019-10-28 08:24] danielevannella commented on #72
why did you assign this to me?

Il giorno ven 25 ott 2019 alle ore 14:41 Panagiotis Stalidis <
notifications@github.com> ha scritto:

[2019-10-28 08:55] danielevannella opened #73 "Services down"
Hy guys, all services are down.

[2019-10-28 09:25] federicovagnoni commented on #73
Hi @danielevannella! The disk is at 99% of usage. Can you guys cleanup all the docker containers and images that you don't need anymore? Thank you! @pstalidis @dmgutierrez

[2019-10-28 10:38] danielevannella commented on #73
removed

[2019-10-29 15:43] federicovagnoni commented on #73
Hi @pstalidis @dmgutierrez! Any news?

[2019-10-29 15:54] dmgutierrez commented on #73
Hi guys,

I'm going to ask Gustavo to check whether we need to cleanup old versions
of the docker containers.

On Tue, Oct 29, 2019 at 4:43 PM Federico Vagnoni <notifications@github.com>
wrote:

[2019-10-29 17:45] pstalidis commented on #73
Sorry, I was at at workshop today. Cleaned up old images and containers.
I started the online service.

[2019-10-29 18:00] pstalidis commented on #72
I have created start scripts for all of certh's services, called "start.sh". They start docker in interactive mode so that we can monitor the output. You can also use docker-container.yml files in the same folders.

For the 3 crawling services they are in /data/services/crawlers/.
The offline media and topics/ner services are in /data/services/user_interface/.
For the online service it is in /data

[2019-11-04 06:18] vittorianovancini commented on #70
Maybe, instead of 50, an author not scored before could start with a N/A by default?

[2019-11-05 09:39] #73 closed, assigned to federicovagnoni, pstalidis, dmgutierrez

[2019-11-14 16:17] tavitto16 commented on #72
According to our conversation (14/11/19),  the services are now up and running continuously. So this issue can be closed

[2019-11-14 16:17] #72 closed, assigned to theosem, federicovagnoni, tavitto16, AlbertoGhedin, pstalidis, dmgutierrez, jefersonzanim, danielevannella, giocalor, neilpbyrne

[2019-12-09 11:14] pstalidis commented on #13
Progress bar working

[2019-12-09 11:14] #13 closed, assigned to pstalidis, danielevannella

[2019-12-09 11:22] pstalidis commented on #18
@macagari if it has been fixed please close the issue

[2019-12-09 11:24] pstalidis commented on #69
ingestion has been postponed for after the pilot execution

[2019-12-09 11:27] pstalidis opened #74 "Create a user manual for the pilot"
We should create a manual of the application for the users participating in the pilot

[2019-12-09 11:28] pstalidis commented on #74
LVT will create a shared presentation for partners to add relevant content

[2019-12-09 11:29] pstalidis commented on #74
the shared document is: https://docs.google.com/presentation/d/1gUMQOP78d80JS7FCJO6UYSZuZw-2a2ptxNfmKZVGgAA/edit#slide=id.p1

[2019-12-09 11:35] pstalidis commented on #74
I cant find @macagari to also assign

[2019-12-09 11:38] pstalidis commented on #74
article use case is ready

[2019-12-09 11:38] pstalidis commented on #74
video use case is ready

[2019-12-09 11:39] pstalidis commented on #74
image use case is ready

[2019-12-09 13:24] pstalidis opened #75 "Decide structure of repository for adding code"
Before we can add all the code, by merging each partner's repository into this one, we must decide on the structure of the final repository.

[2019-12-09 13:24] pstalidis commented on #75
HowTo: https://stackoverflow.com/questions/1425892/how-do-you-merge-two-git-repositories

[2019-12-09 13:28] AlbertoGhedin commented on #75
Better to organize a call and define a structure?

[2020-01-09 13:36] #52 closed, assigned to theosem, pstalidis, dmgutierrez, jefersonzanim, danielevannella, giocalor

[2020-01-09 13:38] #71 closed, assigned to macagari, neilpbyrne

[2020-01-09 13:38] #74 closed, assigned to tavitto16, pstalidis, neilpbyrne

[2020-01-14 09:41] pstalidis opened #76 "[Data Annotation] Decide on news sources to use."
The number of news sources that are selected for user annotation (grey sites) is too big. We need to cut it down and prioritize the sources in order to have a faster completion of annotation data gathering.

[2020-01-14 09:43] pstalidis commented on #76
Both VRT (for Belgian) and Civio (for Spanish) have selected subdomains to focus on gathering first.
Italian grey sources are only four (4).

[2020-01-14 09:43] #76 closed, assigned to pstalidis

[2020-01-14 09:45] pstalidis opened #77 "[Data Annotation] Gather data for annotation"
Gather a balanced set of articles from the grey sources to use for user annotation

[2020-01-14 09:47] pstalidis commented on #77
Data gathering will start after the pilot is finished

[2020-01-14 09:52] pstalidis commented on #57
The pilot execution dates have been decided

[2020-01-14 09:52] #57 closed, assigned to dcabo, vittorianovancini, jefersonzanim, ilkelemmelijn

[2020-01-14 09:53] #49 closed, assigned to jefersonzanim

[2020-01-14 09:54] pstalidis commented on #51
Spreadsheet provided

[2020-01-14 09:54] #51 closed, assigned to dcabo, vittorianovancini, ilkelemmelijn

[2020-01-14 09:56] #50 closed, assigned to dcabo, vittorianovancini, ilkelemmelijn

[2020-01-14 09:56] #53 closed, assigned to dcabo, vittorianovancini, ilkelemmelijn

[2020-01-14 09:58] pstalidis opened #78 "Add previously collected data to the data lake"
Copy already collected data from the grey source to the annotation data lake

[2020-01-14 09:59] pstalidis commented on #78
All already gathered data have been moved

[2020-01-14 09:59] #78 closed, assigned to pstalidis

[2020-05-13 15:13] mmagaldi-eng commented on #70
UPM, did you find a solution to this issue?

[2020-05-13 15:23] dmgutierrez commented on #70
We updated the version after the Madrid meeting to correct this issue but we have not tested in a real scenario since the ingestion was stopped.

[2020-05-14 14:01] AlbertoGhedin opened #79 "[API] Api update process"
Let use this Issue to update the colleagues when we change the API and index structure in Elastic structure.
The api are defined in the document: google/shared/api/API Structure
The swagger urls are defined in the page: https://github.com/fandangOrg/fandango/tree/master/documentation/API

[2020-05-14 14:15] AlbertoGhedin commented on #79
**PROPOSE CHANGE ON API XXXX**
Api: xxx
Fields:

- field1
- field2

Reason: this modification is needed in order to handle...

[2020-05-14 14:16] AlbertoGhedin commented on #79
**COMPLETE CHANGE ON API XXXX**

[2020-06-24 13:16] dmgutierrez opened #80 "Update preprocessing + graph services"
Now both preprocessing and graph service will have the same format for both Offline and Online pipelines. The structure of the response in both cases is the following:

**{"status": 200, "message": "Successful Operation", "data": {...}}**

Where now **field data** will have the object of either preprocessed article (in the preprocesing service) or the graph output with the identifiers (graph servi

[2020-12-03 10:50] macagari opened #83 "Preprocessing service error"
Yesterday we realized that there are issue with the preprocessing.
I'll paste the error on my console

Traceback (most recent call last):
  File "/home/camila/projects/fandango-fake-news/venv/lib/python3.6/site-packages/urllib3/connectionpool.py", line 600, in urlopen
    chunked=chunked)
  File "/home/camila/projects/fandango-fake-news/venv/lib/python3.6/site-packages/urllib3/connectionpool.py",

[2020-12-03 10:50] macagari commented on #83
The article I sent to the service
response crawling service {'data': {'authors': [], 'date_created': '2020-12-03T10:42:59Z', 'date_modified': '2020-12-03T10:42:59Z', 'date_published': '2020-12-01T00:00:00Z', 'description': "Siria: Ong, più di 16mila uccisi in carceri governo dal 2011, 'Morti sotto tortura', ci sono anche donne e minorenni, , Cronaca, Ansa", 'identifier': '5e9b12b2f0d378b424a5461c5

[2020-12-03 11:50] macagari opened #84 "Images analysis service"
Image analysis service is not working correctly. This is the error I've got locally

iMAGE REQUEST   {'url': 'https://upload.wikimedia.org/wikipedia/commons/b/b4/Meloni_Salvini_Berlusconi.jpg', 'force': True}
[2020-12-03 12:15:47,049] ERROR in app: Exception on /fandango/v0.3/fakeness/url_image_score [GET]
Traceback (most recent call last):
  File "/home/camila/projects/fandango-fake-news/venv/lib

[2020-12-03 12:25] macagari opened #85 "Extract topics service"
As I reported weeks ago, the service continues returning the following error message:

 MaxRetryError: HTTPConnectionPool(host='localhost', port=5006): Max retries exceeded with url: /api/extract_topics (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7f42fd91e860>: Failed to establish a new connection: [Errno 111] Connection refused',))

[2020-12-04 13:21] neilpbyrne opened #86 "Too many Topics in "about" field - Articles and Claims"
It seems like there are far too many topics being extracted and placed in the about field, and they seem to be too vague.

![topics_list](https://user-images.githubusercontent.com/45828285/101168019-b6ea3880-3632-11eb-94e1-54bf6b7b71d0.png)

This results in a crazy amount of links to Claims and Tweets with often with low relevance.

It makes it very difficult to browse the data as there is so much

[2020-12-04 14:36] dmgutierrez commented on #86
This information is provided via the topic analyser from CERTH? am I right?

[2020-12-04 14:54] #80 closed, assigned to nobody

[2020-12-04 14:54] #70 closed, assigned to federicovagnoni, tavitto16, dmgutierrez

[2020-12-04 14:55] dmgutierrez commented on #83
It is related with the time that Flair needs to perform the prediction for the NER extraction, either we go to spacy or you should increase the timeout of your request

[2020-12-07 09:33] pstalidis commented on #85
This curl command is working:
curl -X POST -H "Content-Type: application/json" http://fcerthonline.westeurope.cloudapp.azure.com:5006/api/extract_topics -d '{"data": {"articleBody": "this is a testing text to check if topics are working", "language": "en", "identifier": "online"}, "status": 200, "message": "OK"}'
and so is this:
curl -X POST -H "Content-Type: application/json" http://fcerthonline.

[2020-12-07 09:33] #85 closed, assigned to pstalidis

[2020-12-07 11:41] pstalidis commented on #84
The preferable way is to access the image analyser directly (i.e POST and GET to fimage.westeurope.cloudapp.azure.com:5000/api/analyze_image)

For example this curl:
curl -X POST -H "Content-Type: application/json" http://fimage.westeurope.cloudapp.azure.com:5000/api/analyze_image -d '{"url": "https://upload.wikimedia.org/wikipedia/commons/b/b4/Meloni_Salvini_Berlusconi.jpg"}'
is working and retur

[2020-12-07 12:57] pstalidis commented on #86
Yes, this is provided by the topic analyser.

I have added a limit to the top 20 most probable keywords.
Unfortunately we can not do anything about the vagueness.

A possibility is to additionally (or alternatively) use the "mentions" field which is a list of identifiers for named entities (fdg-entities) inside the text. The number of items in this list is fairly small in most cases.

[2020-12-09 10:19] macagari commented on #75
I would prefer to a call so we can check also the credentials and permissions to push on the repository. I tried some months ago and I couldn't push the repository.

[2020-12-09 15:46] neilpbyrne commented on #35
Just noticed a similar issue recently when entering an article url to the system.

It seems this article has author: https://www.repubblica.it/cronaca/2020/12/04/news/caso_suarez_sospesi_i_vertici_dell_universita_per_stranieri_di_perugia_i_pm_la_juventus_si_e_attivata_per_accelerare_la_-276978725/?ref=RHTP-BH-I274300569-P1-S1-T1

But the system did not see it:
![no_author](https://user-images.gith

[2020-12-11 11:19] antoniofelipecora commented on #86
Can you use a stop words list on it?
Removing those words from the field certainly bring more relevant results.

[2020-12-11 12:42] macagari opened #87 "Data model compliance"
We should check that services are returning the right structures for the data model on elastic

For example, the mapping on elastic is this one:
 "calculatedRating" : {
          "type" : "float"
        },
        "calculatedRatingDetail" : {
          "properties" : {
            "authorRating" : {
              "properties" : {
                "ratings" : {
                  "type" : "text",

[2020-12-11 15:16] pstalidis commented on #87
the mapping that I used to create the fusion score index in elasticsearch is:

`
"mappings": {
      "properties": {
           "identifier": {"type": "keyword"},
           "analyzer": {"type": "text"},
           "calculatedRating": {"type": "float"},
           "calculatedRatingDetail": {"type": "text"},
           "timestamp": {"type": "date"}
      }
}`

which defines calculatedRatingDetail a

[2020-12-14 16:52] macagari opened #88 "Handling errors in Fandango's pipeline"

[2020-12-14 16:55] #88 closed, assigned to nobody

[2020-12-14 16:58] macagari opened #89 "Handling errors in Fandango's pipeline"
As you know our UI is generated by sequential services, to retrieve and show information. we should decide which is the best way to handle error when one service is not working correctly. At the moment, I'm using predefined news to generate the results when that happens because I need to work on the user manual but now it is not necessary anymore.

[2020-12-14 19:02] mmagaldi-eng commented on #75
@AlbertoGhedin we should arrange a call.

[2020-12-14 21:14] #63 closed, assigned to dmgutierrez

[2020-12-14 21:17] dmgutierrez commented on #89
We can use the status of the service to understand whether the problem is internal or whether the whole platform is down or something like that and present a simple information for the user explaining that some of the analysers or the platform itself is under maintance at this time. Also because the platform only works from 10 to 18 approximately, so any kind of process before of after that period

[2020-12-15 11:20] dcabo commented on #18
Doesn't apply anymore with new layout

[2020-12-15 11:20] #18 closed, assigned to danielevannella

[2020-12-15 11:20] dcabo commented on #46
Not applicable with new layout 👍

[2020-12-15 11:20] #46 closed, assigned to danielevannella

[2020-12-15 11:22] dcabo commented on #56
Pilot 1 is completed and D6.2 delivered.

[2020-12-15 11:22] #56 closed, assigned to AlbertoGhedin, giocalor

[2020-12-15 11:22] dcabo commented on #54
Pilot 1 is completed and D6.2 delivered.

[2020-12-15 11:22] #54 closed, assigned to dcabo, vittorianovancini, ilkelemmelijn

[2020-12-15 11:22] dcabo commented on #55
Pilot 1 is completed and D6.2 delivered.

[2020-12-15 11:22] #55 closed, assigned to jefersonzanim, neilpbyrne

[2020-12-15 11:23] dcabo commented on #58
The data annotation task was completed.

[2020-12-15 11:23] #58 closed, assigned to danielevannella

[2020-12-15 11:23] dcabo commented on #59
The data annotation task was completed.

[2020-12-15 11:23] #59 closed, assigned to dcabo, vittorianovancini, ilkelemmelijn

[2020-12-15 11:24] dcabo commented on #77
The data annotation task was completed.

[2020-12-15 11:24] #77 closed, assigned to pstalidis

[2020-12-18 12:34] pstalidis opened #90 "Forward of field "keywords""
In order to improve the quality of topic keywords (#86), we should also consider the keywords extracted by the crawlers.
These exist in the "keywords" field of the raw_article.

Preprocessing is ignoring this field but now we need this forwarded to the analysers.

@dmgutierrez please edit the preprocessor to forward this field.
@macagari this will affect also the output that you get in the online

[2020-12-18 13:44] dmgutierrez commented on #90
I'm working on it. I will include a new version of the preprocessing on Monday with the keywords fields on it.

[2020-12-21 08:45] dmgutierrez commented on #90
@pstalidis @mmagaldi-eng @macagari  I have updated the preprocessing to have the keywords. Once we test it, I will close the issue.

[2020-12-21 14:16] pstalidis commented on #86
There are a number of keywords extracted from the crawler itself (from the webpage metadata which might be relevant).
they will be used in the about field instead of the gensim generated ones when #90 is closed.

[2020-12-21 14:17] pstalidis commented on #69
This should have been closed a long time ago

[2020-12-21 14:17] #69 closed, assigned to federicovagnoni, pstalidis, dmgutierrez, mmagaldi-eng, jefersonzanim, danielevannella

[2020-12-21 14:18] #68 closed, assigned to pstalidis

[2020-12-21 14:29] pstalidis commented on #89
The reason that we changed the JSON that is passed from one service to the other, was to include the "status" and "message" fields.

"status" gives a code (based on http) of what happened (2xx means OK, 3xx means some kind of redirection, 4xx means this specific item failed but the platform is working, 5xx means the platform has a problem)

Also, "message" contains a textual representation of the

[2020-12-21 14:33] pstalidis commented on #24
This functionality will NOT be implemented.

[2020-12-21 14:33] #24 closed, assigned to danielevannella

[2020-12-21 14:34] pstalidis commented on #25
I can only assume that this has been fixed.
If the problem persists you can re-open the issue

[2020-12-21 14:34] #25 closed, assigned to pstalidis, dmgutierrez, jefersonzanim, danielevannella, giocalor, neilpbyrne

[2020-12-21 14:38] pstalidis commented on #79
I forgot about this issue and open a new issue (#90) for adding the "keywords" field in the pre-processing output.

This comment is added here so that we don't lose track of the changes

[2020-12-21 14:48] pstalidis opened #91 "Fix for authors that represent groups"
The end-users have noted that there are cases where author.name might represent a group of authors, for example we might find "Newsroom" as the author name.

The major problem that arises is if there is a "Newsroom" author in multiple sources, we have to make a distinction between them.

In order to solve this, the end-users will mark a list of author names as single authors or group authors (i.e

[2020-12-21 14:50] pstalidis commented on #91
Breaking it down to specific actions, @neilpbyrne can you provide a list of all the unique author.names that appear in the ingested articles so that we can give it to the end-users?

[2020-12-21 15:08] dmgutierrez commented on #91
So, in order to generate the **unique identifier** of the author, I'm using the **name as well as the source domain**. Thus, let's consider that we receive 2 articles:

- **Article A** has an author named as **PersonA** and it was published by **OrgA**
- **Article B** has an author named as **PersonA** and it was published by **OrgB**

Since the identifier is based on both the name and the source

[2021-01-05 11:11] antoniofelipecora opened #92 "Server down?"
I'm trying to access Fandango since yesterday, but it seems to be down.
Both the front end at http://52.157.105.38:9800/web/article or the Siren at http://40.114.234.51:8080/ are not working.

@AlbertoGhedin and\or @mmagaldi-eng, could you please check that?

[2021-01-08 11:42] macagari opened #93 "Keywords field missing in preprocessing out"
Hi,
I was updating the image with the modification we defined weeks ago but the preprocessing is not return the field "keywords"

Output from crawlers:

`{'identifier': '5c03fbd2cdd66f1c306416f19895aab5f48d0faf7b2447c4dc0290b35da15542e73acb11d6ff95b9eb063c457a2549ee0d1d7d626c539541ccc54a912d468246', 'authors': ['Alex Hern', 'Kenya Evelyn', '', 'Helen Sullivan', 'Joanna Walters', 'Joan E Greve', 'J

[2021-01-12 12:37] pstalidis commented on #93
This is tracked in #90

[2021-01-12 12:37] #93 closed, assigned to dmgutierrez

[2021-01-12 12:56] pstalidis opened #94 "Change percentages in overall score calculation based on author existence"
Depending on if an author exists or not, the formula for calculating the overall score should be modified:

If author exists:
 50% Publisher, 30% Author, 20% Text

If doesn't exist (unknown):
 65% Publisher, 35% Text

[2021-01-12 12:58] pstalidis commented on #94
Since the relevance score of an unknown author should be 0.0, a check is made for the mean of author relevance scores. If this mean is 0.0 then the author score is discarded and the second formula is used.

[2021-01-12 13:02] pstalidis commented on #94
Change is completed and module has been updated.

[2021-01-12 13:02] #94 closed, assigned to nobody

[2021-01-12 13:04] pstalidis opened #95 "Update the text analysis model with the new one"
The text classification model that is used (text features) should be replaced by the "BERT" one

[2021-01-12 13:06] pstalidis opened #96 "Update the video analysis model with the new one"
The existing video classification model should be replaced by the new one

[2021-01-12 14:43] pstalidis commented on #64
Added alexnet128 model to create vectors in all images that are ingested to the system

[2021-01-12 14:45] pstalidis commented on #91
Apparently different "groups" are already distinguished, therefore no action is needed.

[2021-01-12 14:45] #91 closed, assigned to pstalidis, dmgutierrez, neilpbyrne

[2021-01-12 14:47] pstalidis commented on #87
Is there any update on this?
@neilpbyrne @macagari

[2021-01-12 14:50] pstalidis commented on #29
Unfortunately the new extraction library did not fix this issue

[2021-01-12 14:53] pstalidis commented on #92
@antoniofelipecora The platform is only working during business hours CET (i.e. 10:00 to 18:00 CET)

[2021-01-13 10:28] #83 closed, assigned to dmgutierrez

[2021-01-14 14:46] macagari commented on #95
I'm stil working on it.

[2021-01-14 16:08] pstalidis commented on #95
Please use this issue to keep us updated on the progress

[2021-01-14 16:13] pstalidis commented on #86
The keywords extracted from the crawlers are from today replacing the ones extracted from the topics analyser.
@antoniofelipecora can you check and report on the quality of the new keywords?

[2021-01-14 16:14] #90 closed, assigned to macagari, dmgutierrez, mmagaldi-eng

[2021-01-14 17:21] mmagaldi-eng opened #97 "aggregator & data alignment of offline and online processes"
In order to align the structure data of the JSON documents stored into fdg_article by both offline and online processes (see also #87), **we need to know the EXACT and ACTUAL format of the JSON document** that should be stored into ES to eventually fix the **aggregator** (if needed).

We just know that has been added a new field (Keywords) and I know that we're using two different "score" structur

[2021-01-15 15:52] mmagaldi-eng opened #98 "Annotated data ingestion"
End Users need to use annotated data in their pilot use cases.
Thus, manually annotated data will be first used to train NLP models and then will be ingested and processed to predict all scores.

@macagari will implement a solution to get data from the end-users' spreadsheet and process them as if they were crawled and preprocessed from the web (JSON document compliance).

[2021-01-18 09:42] pstalidis opened #99 "Fusion score in some cases produces very big values (larger than 100)"
In some cases (~2k out of ~15k) the fusion score produces values outside the normal range,
i.e. values > 2500 when the range is 0-100.

[2021-01-18 09:45] pstalidis commented on #99
The reason that was detected was that in those cases the trustworthiness score of publishers was equally very large.
The values are >5000 and after multiplying with the weight (0.5) the value of the fusion ends up in the range of 2500.

[2021-01-18 09:45] pstalidis commented on #99
Publisher scores have been fixed so the values are now in the normal range

[2021-01-18 09:46] pstalidis commented on #99
I have added a script to recalculate ALL the fusion scores in the articles already ingested

[2021-01-18 10:01] pstalidis commented on #97
After the check we detected that:

- the online process was producing a **"keywords" field** which **is not necessary** (the values are included in the "about" field from the topic analyzer)
- the offline process was producing the media identifier in the "contains" field while the online was putting media in "images" and "videos" according to the type. We have decided that the distinction is neces

[2021-01-18 10:02] pstalidis commented on #87
This issue is superseded by #97 and closed

[2021-01-18 10:02] #87 closed, assigned to pstalidis, macagari, dmgutierrez, neilpbyrne

[2021-01-18 10:42] dmgutierrez commented on #97
@pstalidis @macagari which analyser is going to produce the final document of the article in the Online with the updated format? is it going to be throughout the backend of the UI as before? What about the offline?

[2021-01-18 14:21] vittorianovancini commented on #84
As of today the Image tool is still not working, please give it back to us... otherwise we can't check the system

[2021-01-19 14:09] macagari commented on #84
I fixed it, it was a UI error. It should work by now, I checked it this morning

[2021-01-19 14:16] macagari commented on #97
@pstalidis I'm going to update the image today with the modifications you suggested.

[2021-01-26 18:12] mmagaldi-eng opened #100 "offline services: create/update document in fdg_article (removing aggregation step)"
As agreed in the last technical call about the offline process, to streamline ingestion as well as development activities, we will remove the aggregation steps (and relative constraints), writing directly on ES:

All analyzers will write directly in the fdg_article index, creating or updating the JSON document using the “upsert” element.
More specifically, analyzers steps are:
- Read news from inp

[2021-01-27 12:23] pstalidis commented on #100
About note 2, an example of upsert for elastic is the following:
<code>
elastic.update(index=index, id=article, body={
                       "doc": {"about": about, "topic": topic, "mentions": mentions},
                       "upsert": {"about": about, "topic": topic, "mentions": mentions, "identifier": article}
                       })
</code>

where, after the "doc" part you put the fields fo

[2021-01-27 12:25] pstalidis commented on #100
About note 1, I have updated the code for offline topics and offline media.

[2021-01-27 12:26] pstalidis commented on #100
About notes 3 and 4, the offline fusion score was updated together with the online part.

The process takes into account that there can be multiple concurrent calls for the same document at the same time.

[2021-01-27 12:37] pstalidis commented on #99
scores have been fixed

[2021-01-27 12:37] #99 closed, assigned to pstalidis

[2021-01-27 17:13] vittorianovancini commented on #84
It works perfectly, when it works... and there is the sixth panel for the overall score as we intended it...
![FandangoImageMOD](https://user-images.githubusercontent.com/37619775/106027361-1e6cb380-60cb-11eb-90db-cc9eb9c45880.png)
Is it doable (or maybe you can do it better)?

[2021-01-27 17:51] vittorianovancini commented on #84
To be clear, the actual Aggregation score already represents what we asked for, but it is still not very clear to be interpreted by an ordinary journalist (I've asked to my colleagues of ANSA Images...), so this is just a way to show what we meant when we requested the graphic superimposition...
![concept](https://user-images.githubusercontent.com/37619775/106032292-94274e00-60d0-11eb-90ac-1c08b73

[2021-01-29 10:24] mmagaldi-eng opened #101 "online process : article anaysis hangs in spinning weel waiting for text score results"
User needs to retry analysis to complet anaysis.

[2021-01-29 10:49] mmagaldi-eng opened #102 "online process: video analyser hangs in spinning circle waiting for score result"
@pstalidis reported an issue to manage multiple requests on the video service side

[2021-01-29 11:50] #92 closed, assigned to AlbertoGhedin, macagari

[2021-01-29 16:07] pstalidis commented on #102
The actual problem is that the backend service blocks other requests while performing the analysis.

This is an unexpected behaviour which has the effect of not responding to the front end with the progress of the analysis, therefore the user experiences an unresponsive system.

I am testing various solutions and will report back

[2021-01-29 16:08] pstalidis commented on #100
@macagari @tavitto16 when your services are ready, report here so that we can start an actual test

[2021-01-29 16:12] pstalidis commented on #96
the new model that is being trained produces too many false positives to be useful so a new model is be trained.

[2021-01-29 17:35] macagari commented on #100
The offline process modifications are online.

[2021-01-29 17:36] macagari commented on #98
The script is ready!

[2021-01-29 18:42] mmagaldi-eng commented on #98
Let's have a look on Monday, just to check what services are involved and to be sure that we have considered all data and features

[2021-02-04 09:47] jdgryse opened #103 "Relevance score for text"
Concerning this article: https://www.reuters.com/article/uk-factcheck-masks-idUSKBN29X2S5

The text relevance score is problematically low.
The formula for the text relevance score is the following: IF( word_count > 400, 1, modulus( word_count / 400, 1 ) ).
This article has more than 400 words, so the relevance score should be 100%, which is not the case (somewhere around 5% or so).
So either the

[2021-02-04 10:42] mmagaldi-eng commented on #103
I've checked into ES: body is > 470 words, so @pstalidis should revise the formula implementation.

[2021-02-04 11:08] pstalidis commented on #103
I am not calculating the relevance score, I am using whatever is provided by the analysers.
the text relevance score should be checked by @macagari

[2021-02-08 17:50] vittorianovancini opened #104 "Video tool still missing"
Please fix it, so we can do Data Quality Check on this, too

[2021-02-08 17:57] mmagaldi-eng commented on #104
@vittorianovancini, please add in a comment some URLs of the videos that don't work.

[2021-02-08 18:13] vittorianovancini commented on #104
Well, right now, not even one of the video I tried did give any result. The last one I tried, which is without doubt computer generated, is https://www.youtube.com/watch?v=TSV98UqKhi4&feature=youtu.be. This is a Youtube video, so it should not have any complications. I've tried it with other online tools and it seems to work fine. Tomorrow I'll try again with other videos.

[2021-02-09 11:31] #84 closed, assigned to pstalidis

[2021-02-09 11:41] #100 closed, assigned to tavitto16, pstalidis, macagari, neilpbyrne

[2021-02-09 11:41] #97 closed, assigned to pstalidis, macagari, dmgutierrez, neilpbyrne

[2021-02-09 11:42] #86 closed, assigned to pstalidis, macagari, dmgutierrez, neilpbyrne

[2021-02-09 11:48] pstalidis commented on #104
The service is working.
Service missing / not working / working with errors, are different things, especially when reporting an issue.

That being said, there was a wrong call from the UI to the API. This problem has been fixed. If other problems occur please report them in a new issue.

[2021-02-09 11:48] #104 closed, assigned to pstalidis, macagari, mmagaldi-eng

[2021-02-09 11:51] vittorianovancini commented on #104
?Thanks! Sorry for the bad terminology!

________________________________
Da: Panagiotis Stalidis <notifications@github.com>
Inviato: martedì 9 febbraio 2021 12:48
A: fandangOrg/fandango
Cc: Vancini Vittoriano; Mention
Oggetto: Re: [fandangOrg/fandango] Video tool still missing (#104)

The service is working.
Service missing / not working / working with errors, are different things, especially whe

[2021-02-09 11:54] pstalidis opened #105 "Video service is unresponsive"
While the video service analyses a video, the service becomes unresponsive.

[2021-02-09 11:55] pstalidis commented on #105
already reported

[2021-02-09 11:55] #105 closed, assigned to pstalidis

[2021-02-15 18:12] vittorianovancini opened #106 "Error on Fandango Link to Dashboard"
![Dashboard Latest suspicious news](https://user-images.githubusercontent.com/37619775/107980809-2ed4c780-6fc1-11eb-8e40-916d2d511a10.png)

Clicking on Latest Suspicious News lands here, with three error message as you can see. However, the Dashboard works well if you access it outside this link.

[2021-02-15 18:23] vittorianovancini opened #107 "Video still very slow"
[6secondsvideoFandango.pdf](https://github.com/fandangOrg/fandango/files/5983383/6secondsvideoFandango.pdf)

![7secondsVideo](https://user-images.githubusercontent.com/37619775/107981509-7f005980-6fc2-11eb-9d4f-b1c2aea90d17.png)

The tool executed the analysis of this (https://www.youtube.com/watch?v=28xCVQLvL0Y) 6 seconds video in 7 minutes, but this is not the big problem. This other video of 9

[2021-02-15 18:27] vittorianovancini commented on #107
Since it is so difficult to find fake video (because those are very quickly deleted, when discovered by fact-checkers), maybe we could prepare a fake fake video, sort of prof of concept - and a very short one. What do you think? I'll try something in the next days...

[2021-02-17 16:36] vittorianovancini commented on #107
I've created this very short video (less than 4 seconds) and uploaded on Youtube to be able to analyze it with Fandango

https://www.youtube.com/watch?v=ieQoLWfXr3U

but after 40 minutes, still no answer. I think that now we can say that there is some problem with the tool

[2021-02-18 08:40] macagari commented on #107
I'll check form the UI side

[2021-02-18 08:41] macagari commented on #106
Siren sent the correct link, I will update the image today with this and TNT new link

[2021-02-18 08:45] macagari commented on #103
I checked that, there was an issue in the code, I'll update today the new image so you can let me know if it is working better

[2021-02-18 15:36] mmagaldi-eng commented on #107
@pstalidis, please check what's the problem, since it seems that it's slower than in the past.
Once you've solved all software issues (don't forget the handling of multiple requests from UI issue), then we'll add more resources to speed up video analysis.

[2021-02-18 17:59] vittorianovancini opened #108 "Fandango Claims not showing Url and Label content"
![image](https://user-images.githubusercontent.com/37619775/108399181-24f9d100-721a-11eb-9674-32cdcb25f601.png)

With the Claim-reviews just ingested off-line the "Label" (which should correspond to the "reviewRating.alternateName") and the URL in the external arrow icon are empty, while on the Dashboard they appear to be regularly populated.  Also, the text pop-up appears only when the claim reco

[2021-02-19 13:07] macagari commented on #108
We didn't change anything in the services, so if it was there before it should be there if the output object of the services is correct. I can change the text pop-up next time I update the image.

[2021-02-19 13:20] macagari commented on #103
@jdgryse I took a look and I was calling an old module, now it is correct. I'll update it today or next Monday. Thank you!

[2021-02-22 11:35] vittorianovancini commented on #108
Thanks for the Text!
![image](https://user-images.githubusercontent.com/37619775/108701966-ecebda00-7508-11eb-9aaf-3c9c3887ddbc.png)
As you can see, "URL" and "Label" value are in the TABLE/JSON...
![image](https://user-images.githubusercontent.com/37619775/108702890-28d36f00-750a-11eb-95fa-7c2b979383e3.png)
This is a claim ingested last year, and Fandango fetches correctly the URL and the "review

[2021-02-23 10:12] vittorianovancini opened #109 "Fandango ingestion from the Articles tools appear as annotated and don't have 'About', 'Mentions', 'Topic'"
All news analyzed by Fandango Articles Tool appear in Dashbord without any value in the fields ABOUT, MENTIONS and TOPIC - an "processType" is "Annotated" as for the Annotations Articles.
![image](https://user-images.githubusercontent.com/37619775/108828355-06535b80-75c7-11eb-91f5-29292fd22666.png)
I'm sure (I wish) this is a quick one to fix... Ciao. Vittoriano

[2021-02-23 10:54] pstalidis commented on #109
This is intentional.

The topic and about fields will be filled **after** the ingestion

[2021-02-23 11:01] mmagaldi-eng commented on #109
As far as I know, @vittorianovancini noted an issue about the online process: all last articles processed online (using the UI) are erroneously handled (and marked) as "annotated" data.

@vittorianovancini, is it right?

[2021-02-23 11:10] vittorianovancini commented on #109
Yes, and I've not seen any reprocessing on the articles I submitted by Fandango's tool. When is that supposed to happen? The day after, when system is switched on again?

[2021-02-23 11:22] macagari commented on #109
The issue Vittoriano reported is correct, I changed it through the k8s pod, it should work but I'm checking now the only problem is that the online process is not working, I'll check it out. Anyway, I'm going to push another image with some UI changes Vittoriano suggested last week so it will be as usual, annotated as "online". Thank you for reporting that!

[2021-02-23 16:16] macagari commented on #108
Yes, but the problem is the output of the service, Neil told that he is working on them so tomorrow I can check if they are ready. I added what you suggested for the text of the claims.

[2021-02-23 16:17] #103 closed, assigned to macagari

[2021-02-25 09:59] macagari opened #110 "Text analysis changes results for the same articles"
During the plenary meeting, Jasper reported variability on the result of the text analysis using the same article.

[2021-02-25 10:02] jdgryse commented on #110
![Screenshot 2021-02-25 at 10 39 58](https://user-images.githubusercontent.com/7630326/109136896-e784ce80-7758-11eb-8334-31b17b5c55e3.png)

In the analysis before, the text score was 84.14%

[2021-02-25 10:42] macagari opened #111 "Image explanation"
During the plenary meeting, end-users reported the need of getting more information about the result given by each algorithm/technique, used in image analysis(to be shown on the UI).

[2021-02-25 11:01] macagari opened #112 "GPU Integration"
Image and video services need to speed up so GPUs will be integrated into the system.

[2021-02-25 11:56] #106 closed, assigned to macagari, neilpbyrne

[2021-02-25 11:57] #108 closed, assigned to macagari, mmagaldi-eng, neilpbyrne

[2021-02-25 16:21] mmagaldi-eng opened #113 "Elastic warning message: Couldn't find mappings for field "articleBody" in index pattern "fdg-article""
@neilpbyrne, please check what's wrong here.
![image](https://user-images.githubusercontent.com/37866168/109182719-888d7c80-778d-11eb-8a4c-a452eaf70dda.png)

[2021-02-25 16:31] neilpbyrne commented on #113
Hi @mmagaldi-eng I can't replicate the issue. The dashboard loads fine for me. Is it still the same for you if you refresh your browser?

[2021-02-25 17:18] mmagaldi-eng commented on #113
No. thanks.

[2021-02-25 17:18] #113 closed, assigned to neilpbyrne

[2021-02-26 10:31] jdgryse opened #114 "Issues with UTF encoding in claim titles"
Quotation marks, apostrophes, etc etc are not shown correctly in all languages.

![Screenshot 2021-02-26 at 11 29 49](https://user-images.githubusercontent.com/7630326/109289202-27fe4e00-7826-11eb-9873-6678117f8629.png)

[2021-03-02 15:20] vittorianovancini opened #115 "Dashboard interface adjustments needed"
Dear Jeferson and Neil, In order to show the Dashboard during the Pilot and the Final Review, here are some adjustment about the name of some of the Dashboards Panels and some other issues the end users (not only me...) encountered during the check. Please remember that we plan to show the dashboard during the Pilot next week. Best. Vittoriano
Dashboard Analysis
PAGE BY PAGE INTERFACE ADJUSTMENTS

[2021-03-02 15:36] vittorianovancini opened #116 "More than 10,000 claims with the claim field empty - Also problems with 'author.name' and author.sameAs'"
Fandango has now more than 17 thousands ingested claims, but if you sort them in the Dashboard, more than 10,000 have the **claim/text** field **empty**

There are also evident problems with the author.name and author.sameAs.
In this example, Matteo Renzo is indicated as the author of Fact-checking and there is a video in the other field...

![image](https://user-images.githubusercontent.com/37619

[2021-03-02 16:55] pstalidis commented on #116
claims and claim reviews are ingested by crawling the list of fact checkers. in every link that is found inside these sources an attempt is made to extract claims and reviews that follow the claimReview schema. whatever is extracted is then stored inside the database.
we are not verifying the validity of what each data source is putting inside the schema fields.
if a source leaves a field (like "c

[2021-03-02 16:56] macagari opened #117 "authors from annotated article ingestion are "Anonymous""
In most of the annotated articles ingested in ES, the author is signed as "Anonymous". The issue, as far as I could see, comes from the preprocessing because the key "authors" in the output is filled as "Anonymous".

[2021-03-02 17:51] vittorianovancini commented on #116
I think this might be the right solution, because I suspect this has a very bad influence on the system (what do you think Neal?) but I'm discussing this with the other end user - since this means losing 2/3 of the claims - and we'll tell you know tomorrow. Meanwhile, thanks.

[2021-03-02 18:01] mmagaldi-eng opened #118 "Bad Fusion score visualization"
Fusion scores presented in the UI are different from the actual scores.

@vittorianovancini, please involve also Jasper to check final results once solved.

[2021-03-02 18:24] vittorianovancini commented on #118
ok

[2021-03-03 07:41] pstalidis commented on #102
A note for future reference: using --threads flag changes sync worker class to threaded which is not correctly monkey patched.
Also, default number of workers is 1 so -w flag is also redundant if only 1 worker is needed.

The issue has been solved.

[2021-03-03 07:41] #102 closed, assigned to pstalidis, macagari

[2021-03-03 07:47] pstalidis commented on #107
@mmagaldi-eng you remember when the module was running from a different server
handling of multiple requests is solved in #102.
Speeding up will happen when it is deployed in GPUs

Closing this issue and we will track the speed after GPU integration in issue #112.

[2021-03-03 07:47] #107 closed, assigned to pstalidis, macagari, mmagaldi-eng

[2021-03-03 07:49] pstalidis commented on #112
We are holding of integration until new model (#96) is ready.

[2021-03-03 08:01] pstalidis commented on #116
I am adding an example ![screenshot](https://user-images.githubusercontent.com/24522654/109771875-02968900-7c06-11eb-8a5e-59de67790dc6.png) of the provided data from pagellapolitica.it for your consideration.

As you can see, the "claimReviewed" field is an empty string, so the "claim.text" is empty.

Also, you can see that Vittorio Grilli is indicated as the author and there is a youtube video on

[2021-03-03 08:04] pstalidis commented on #89
This issue has been sitting here for too long and I don't think that there is any action to be done.
Can we close this?

[2021-03-03 08:07] pstalidis commented on #98
It is now over a month since the script was ready, what is the status of this?

[2021-03-03 08:15] pstalidis commented on #111
The original descriptions (from first pilot) are [here](https://docs.google.com/presentation/d/1KwLl10UGxfY5Vsmmzrrqr6SIsuU-Iw685a-s749JzeY/edit?usp=sharing). I will go ever them and adjust them by 10/03/21.

[2021-03-03 08:29] mmagaldi-eng commented on #98
As far as I know, there are 2 issues:
1) the creation of authors (@tavitto16, please update us on this)
2) the extraction of the publication date (since we're not using crawlers). @vittorianovancini is working to extract and provide this data in a new field of the annotations file.

[2021-03-03 08:31] mmagaldi-eng commented on #89
@macagari once you've deployed the new UI with exception handling you're working on, please close this issue.

[2021-03-03 08:38] mmagaldi-eng commented on #116
I think that the only solution here is that end-users check and clean all claims.
@vittorianovancini, my suggestion for end-users is to start checking the earliest and the latest claim of each site, just to have an idea of the claim review data quality.

[2021-03-03 09:52] jefersonzanim commented on #115
@vittorianovancini we'll look into those. Bear in mind that it isn't always possible to achieve some of those without the data being updated.

[2021-03-03 10:09] mmagaldi-eng commented on #115
@jefersonzanim, once completed, reply here with a list of data that should be fixed.

I guess that the "topic" name, if needed, at the end should be fixed manually

[2021-03-03 10:39] vittorianovancini commented on #116
Nice screenshot. And when was these missing parts were discovered, exactly? Because this is a major bug, not an enhancement of the system when two thirds of the records have the most important data missing, the claim. Ten thousands out of 17,000. Consistency of the data control comes before the data quality check, or at least this is what we do at ANSA.  Besides, we, end users, were told several t

[2021-03-03 11:14] mmagaldi-eng commented on #116
We have no time, now.

One alternative solution is to investigate if we can reingest raw data (if we have them stored somewhere) and remapping fields in a different way to get more effective claims.

In the meantime, my suggestion for the end-users is to focus on specific use-cases, check the related claims, and fix them manually, if needed.

[2021-03-03 12:29] pstalidis commented on #116
2 years ago. We discussed that each "fact checker" has a different way to present their information **but** google has been pushing for everyone to follow the "claimReview" schema and that we would only gather claims and claim reviews that follow this specific schema.

A bug implies that the code does something different than intended. This code is designed to extract values from specific fields f

[2021-03-03 12:52] vittorianovancini commented on #116
To have the filter to discard the empty claims would be the best solution, thank you. But then we will have to load other claims, maybe with the same solution we experimented for the 450 claims you ingested last month. Later today, I will let you know what we have decided after I hear the other end user, but I think they will confirm the cancellation.

[2021-03-03 13:17] pstalidis opened #119 "author and publisher trustworthiness scores"
There still exist some cases where the author and/or publisher trustworthiness score is >100.
For example:

[code]

[2021-03-03 14:11] mmagaldi-eng commented on #119
Please @tavitto16, check and fix this.
If you've already fixed this and we need to clean data, please search all scores greater than 100 and fix it manually, at least the one that we need to run the pilot (you can agree on which one to fix with @vittorianovancini and @dcabo).

[2021-03-03 14:30] vittorianovancini commented on #119
OK, I will check it

[2021-03-03 14:43] mmagaldi-eng commented on #98
@tavitto16, why you can't create an author instance if Camila pass you the author's and publisher's name?

What else do you need?

[2021-03-03 15:51] jefersonzanim commented on #115
@mmagaldi-eng we've completed all work in the dashboards in a session with end-users. These issues are related to data issues:

- The tweets ingestion should be reactivated, and we should be sure that the hashtags we gave David work properly. Please arrange for a test run this week if possible.

Publisher

- Country is not working very well…
- Nationality, same as above
- Name is almost always wit

[2021-03-03 15:51] jefersonzanim commented on #115
This is complete from the dashboard perspective. I suggest creating another issue for the remaining data problems.

[2021-03-03 15:51] #115 closed, assigned to vittorianovancini, jefersonzanim, neilpbyrne

[2021-03-03 16:44] neilpbyrne commented on #115
@jefersonzanim and @vittorianovancini I have made the small changes that arose during our session. Namele:
- If tweet doesn't have country, remove (None), otherwise show country. eg -(ES)
- in Article layout template, click on headline to filter dashboard with this article
- fix color lense on graph. Now shows red for score less than 30, yellow between 30 and 65, and green above 65

I'm still work

[2021-03-04 15:24] mmagaldi-eng commented on #117
@tavitto16, any news on this?
@macagari: it is not clear if we pass in input to the preprocessor the actual name of the author in the "authors" field: can you confirm that the input provides a valid name?

@vittorianovancini, @jdgryse, @dcabo: please follow this issue and check results once fixed

[2021-03-05 08:54] vittorianovancini opened #120 "Please Ingest Open Data"
There is no Open Data in the system, yet. Please ingest the list you already have so we can see if all works as it is supposed to do. Since next week we start some of the Pilots second phase, it would be good to show all the Fandango functionality at work. Thanks for your help and consideration. I'll be available to help with any more data you need or any problem you encounter with the data qualit

[2021-03-05 10:02] pstalidis commented on #120
At the plenary meeting I promised to have open data ingested by 5/3/2021 eod.

[2021-03-05 15:40] macagari commented on #89
Yes, I had to re-define all the pipelines, I will close it when it is completely ready.

[2021-03-08 18:05] pstalidis commented on #120
Open data (>15k) are in the database

[2021-03-08 18:08] pstalidis commented on #116
I removed all claims (and their reviews) that have an empty text. There are now 6.5k claims. The claims with the empty text remain in my own database should we need them again.

I have started the claim crawler again to gather more claims (without the filter, so claims with empty text might appear again but I will delete them again when necessary)

[2021-03-08 18:08] #116 closed, assigned to pstalidis, macagari, neilpbyrne

[2021-03-09 06:12] #29 closed, assigned to pstalidis

[2021-03-09 15:58] mmagaldi-eng commented on #109
The _about_ field now is filled, _Topic_ and _Mentions_ are still empty fields.

@pstalidis, please note that half of the _about_ keywords in Italian are stopwords.

[2021-03-09 16:05] mmagaldi-eng commented on #110
@macagari, the text score showed in UI is totally different from the text score saved into the document in the fdg_article index.  (see also #118)
Author and publisher scores, instead, are the same (even they change a bit each time we reprocess the news @tavitto16).

[2021-03-09 16:27] mmagaldi-eng commented on #101
Update: users need to process twice the same article to get scores

[2021-03-11 09:51] tavitto16 commented on #119
I'm working on it. It is a simple arithmetic error. WIll be solved by today. BR

[2021-03-11 10:12] mmagaldi-eng commented on #119
Thanks,
Do you will also reprocess data in order to normalize all scores?

[2021-03-11 10:37] vittorianovancini commented on #118
The bug is still there and the scores keep changing every time the article si reprocessed, but the percentage does not just grow, it also shrink back. An this happens for the three analysis scores.
[1.pdf](https://github.com/fandangOrg/fandango/files/6122284/1.pdf)
[2.pdf](https://github.com/fandangOrg/fandango/files/6122285/2.pdf)
[3.pdf](https://github.com/fandangOrg/fandango/files/6122286/3.pdf

[2021-03-11 10:44] vittorianovancini commented on #117
Regarding the label, I suggest that we adopt the newsroom rule: every time there is no name, or it is not detectable because of bad code (author should be a tag or the value of an attribute) we attribute the article to the news organ, and in our case the "Publisher".

[2021-03-11 10:50] mmagaldi-eng commented on #118
Added @tavitto16 (I've mentioned you in #110 for the same issue)

[2021-03-11 10:54] mmagaldi-eng commented on #117
Since it is an _Author entity_ entry, wouldn't it be better to call it "newsroom" or "editorial stuff"?

[2021-03-11 10:56] vittorianovancini commented on #120
Thanks. But, please, reactivate the visualization of the Open Data in Fandango basic interface. Are they visible in the Dashboards? And where?

[2021-03-11 11:05] vittorianovancini commented on #117
There is a full variety on this: Redazione ANSA, Reuters Staff, Mailonline Reporter, Ferrets Newsroom, AFP Factuel, and so on. Many of those names are on the web page but, apart from a manual inspection they are not really detectable because the code is not well formed and does not follow the rules or the schema.org. Thus, I believe that using the journalistic rule could be more correct than assig

[2021-03-11 11:06] mmagaldi-eng commented on #120
I guess this is something that should involve @neilpbyrne, @pstalidis and @macagari

[2021-03-11 11:51] pstalidis opened #121 "No open data in UI"
even though open data actually exist in fdg-fact index
![the_index](https://user-images.githubusercontent.com/24522654/110783025-87ba1780-8270-11eb-96e4-948446a11df3.png)

the UI shows no open data
![user_interface](https://user-images.githubusercontent.com/24522654/110783018-84bf2700-8270-11eb-9e4a-795afc6946ee.png)

[2021-03-11 11:53] pstalidis commented on #120
since data are already ingested, this issue is solved.
I have started a new issue about the visualisation of the data #121

[2021-03-11 11:53] #120 closed, assigned to pstalidis, macagari, vittorianovancini, neilpbyrne

[2021-03-11 12:57] tavitto16 commented on #119
Dear All,
I have found the problem. Now it shall be solved. A new version of the deployment (12) has been created, please, let me know if it is already solved. BR

[2021-03-11 14:20] tavitto16 commented on #119
WHenever these files are processed again, it should be solved.

[2021-03-11 14:38] tavitto16 commented on #118
Can you pass me exmple links?

[2021-03-11 14:40] mmagaldi-eng commented on #118
Just process one article via UI.

I've used this: https://www.repubblica.it/economia/2021/03/09/news/recovery_fund_decreto_urgenza-291322475/?ref=RHTP-BH-I288512892-P1-S2-T1

@tavitto16, note that we're reprocessing always the same news, thus we're not incrementing the number of articles from the same author/publisher

[2021-03-12 15:25] macagari commented on #121
I'm trying to call "find facts" service to get open data but I get a "bad request" message. Can you update the file with API https://docs.google.com/spreadsheets/d/15cWJwX9D0XuY7zficapz55AoXkC2NfYDowfLSPZSpwE/edit#gid=1207208562? @neilpbyrne

[2021-03-12 15:32] macagari commented on #119
I was testing the interface to upload a new image of the UI but I'm getting an empty response from "/api/graph_analysis/publisher/"  @tavitto16 Can you please check? Thank you!

[2021-03-12 15:45] macagari commented on #111
@pstalidis let me know if they ready, thank you!

[2021-03-15 17:11] mmagaldi-eng commented on #121
@neilpbyrne during the call, today, has assured that he will fix this service ASAP

[2021-03-16 14:05] mmagaldi-eng commented on #121
@neilpbyrne any news about this?

[2021-03-16 14:13] neilpbyrne commented on #121
@mmagaldi-eng I have fixed this. I need to redeploy and contact @macagari to make sure the service is being called correctly. I'm on a call at the moment so will do this as soon as I'm free aftterward

[2021-03-16 14:39] mmagaldi-eng commented on #117
@

@tavitto16, did you apply the rule suggested by @vittorianovancini? (anonymous -> publisher)

[2021-03-16 16:09] mmagaldi-eng opened #122 "increase "topic" tiles quality on SIREN dashboards"
@vittorianovancini, @jdgryse, @dcabo, please pass to @neilpbyrne an updated list of "stop words" (in ES, IT, NE).

[2021-03-17 09:38] vittorianovancini commented on #122
[stopwords.txt](https://github.com/fandangOrg/fandango/files/6155206/stopwords.txt)
This is a list of stop-words, revised and updated with VRT for the Dutch. English stop-words are also included, but they're already pretty good in the system.  Spanish and Italian seem to work fine with this list, but I'd like to see them at work as soon as possible, in order to judge the enhancement results...

[2021-03-17 10:23] vittorianovancini opened #123 "Image Timeline Button"
![image](https://user-images.githubusercontent.com/37619775/111452851-377d0280-8713-11eb-835e-8abb4268539e.png)

When you click the button that appears after the Image Tool processed the image, the Image Timeline should analyze that same image... (image's Url should be carried from Fandango to that service). We could also have another button on the left column menu that leads to the Image Timeline

[2021-03-17 15:07] mmagaldi-eng opened #124 "some image analyzers are not running"
Some image analyzers are not available from UI.

[2021-03-18 09:59] vittorianovancini opened #125 "Open Data title length and records not showing yet in Articles tool"
GUI enhancement: please truncate the Open Data titles so they do not slide off screen and hide the external Url and expansion buttons.

![image](https://user-images.githubusercontent.com/37619775/111607177-4d083000-87d8-11eb-8071-6ccd1cd65b80.png)

![image](https://user-images.githubusercontent.com/37619775/111607230-585b5b80-87d8-11eb-82b7-68773af2b4fe.png)

**Also, connect the Open Data to the A

[2021-03-18 15:20] neilpbyrne commented on #121
@mmagaldi-eng myself and @macagari had a call about this and you will see the correct open data web service results in the UI later today

[2021-03-18 15:20] #121 closed, assigned to macagari, neilpbyrne

[2021-03-19 14:43] macagari commented on #123
The button on the "search" page is there, we have to push the new image and then it will be online. @jdgryse Do you think that is possible(image's Url should be carried from Fandango to that service)?

[2021-03-22 10:54] mmagaldi-eng commented on #122
@neilpbyrne, did you update the stopwords list?

[2021-03-22 15:07] neilpbyrne commented on #122
@mmagaldi-eng I did indeed. Let me know if it has improved the results.

[2021-03-22 15:07] #122 closed, assigned to dcabo, jdgryse, vittorianovancini, neilpbyrne

[2021-03-22 17:17] mmagaldi-eng commented on #122
@jdgryse @vittorianovancini

[2021-03-23 12:24] tavitto16 commented on #119
I'm checking it. The authors are renamed in the code. I'll be updated in the ES gradually

[2021-03-23 13:35] vittorianovancini opened #126 "Open Data in the Claims Tool but not in the Article Tool and Description Enhancement"
Open Data are not shown in Articles even if in Claims they work fine. Also, there is a problem with the text shown in Claims Tool: it is taken from the "Description", which was intended to contain the topic, instead from the "Name Dataset", as intended...

![image](https://user-images.githubusercontent.com/37619775/112154636-c2af3a00-8be4-11eb-95c2-817ef64d02ab.png)

This is the record submitted f

[2021-03-25 10:27] jefersonzanim commented on #126
Not sure if there is much we can do about this one. Unfortunately, the other terms in the article header are more relevant than COVID according to the search analyzer. If we search directly in the dashboard, the results are the same. We'll investigate, but our options might be limited here.

[2021-03-25 11:07] neilpbyrne commented on #126
@vittorianovancini , @macagari and have worked on this and the open data is now showing in articles as well as claims.
I will try to tune Elasticsearch to improve the relevance but as @jefersonzanim says, we might be limited by the search analyzer itself. Leave it with me!

[2021-03-25 11:59] vittorianovancini commented on #126
Thank you Jefferson. However, I think that this problem (showing the "description" original field instead of the "name Dataset" one) is more related to the GUI than the whole system. Am I right?

[2021-03-25 12:04] vittorianovancini commented on #126
Thanks Neil, I hope you'll find some viable solution 👍

[2021-03-31 12:00] vittorianovancini opened #127 "Open Data Quality"
Dataset shown yesterday during the Pilot appeared to be totally unrelated to the URLs we searched in the Articles Tools. The list submitted last year of datasets selected and last updated July 28, 2020, for the three original pilots plus the one on Covid and indicated in https://docs.google.com/spreadsheets/d/1700wbc9Z25WBXJ16Z7mv5TV7xjv1FjEjEPkIV7xjCxs/edit#gid=766436426 are not showing as it sho

[2021-03-31 13:47] jefersonzanim commented on #127
@vittorianovancini not sure I understand the issue here. Could you, please, provide a description of the exact scenario?

[2021-03-31 13:53] tavitto16 commented on #127
I also don't understand wha'ts the issue, can you send us examples / pics of the error?

[2021-03-31 14:27] vittorianovancini opened #128 "Updated Hashtags for the Tweets 360° Dashboard and the Twitter Sentiment Tool"
As requested, this is the updated list of hashtags - English and Italian only because Spanish and Dutch should already be sufficient - to be used for the Final Review:
"#AntiMaskers
#antivaccini
#antivaxxers
#BillGates
#Brexit
#BrexitShambles
#byoblu
#censorship
#Coesione
#Cohesion
#CohesionPolicy
#controinformazione
#coronamemes
#CoronaVirusFacts
#CospiratoriAlloSbaraglio
#Covid-19
#COVID19
#Covi

[2021-03-31 14:30] neilpbyrne commented on #127
I had a call with @macagari  today and it seems the issue is that in the field we show for open data results in the front-end is "name". In some of the data sets this field is not useful (Eurostat datasets for example) as the "name" field contains data such as "teiis100 Dataset [Tables]".

@macagari  is going to show a combination of the fields "name" and "text" (where text will be truncated if it

[2021-03-31 15:28] vittorianovancini commented on #127
@tavitto16 @jefersonzanim It's very easy, try any news on covid-19 for example and see if any dataset of this list appears in the Open Data section:
(The Idea is to have them when we'll have the final review, in order to show the potentiality of the system with a refined selection of dataset...)

Language | Name Dataset | Topic | Source | Url
-- | -- | -- | -- | --
ES | Inmigración por edad y sexo

[2021-03-31 20:38] neilpbyrne commented on #127
I've found something in my code that I believe will tune this better. The server is offline now, but I'll test it in the morning and let you know when it's live

[2021-04-01 10:15] jefersonzanim commented on #127
@vittorianovancini this functionality is based on a textual search from the Article to the Open Data name. For example, one of the Open Data datasets is: "Covid 19 -TIA por Municipios y Distritos de Madrid". If you had an article with the title "Coronavirus is rising in Spain's capital" it would not find the Open Data record because none of the words match it.

I understand that we would like to h

[2021-04-01 10:25] vittorianovancini commented on #127
Thanks, every effort is very much appreciated. But, I was wondering if it would be possible to create such functionality only for our Pilot topics, or at least for Covid-19?

________________________________
Da: jefersonzanim ***@***.***>
Inviato: giovedì 1 aprile 2021 12:15
A: fandangOrg/fandango
Cc: Vancini Vittoriano; Mention
Oggetto: Re: [fandangOrg/fandango] Open Data Quality (#127)

@vittori

[2021-04-01 10:34] vittorianovancini commented on #127
But, I was wondering if it would be possible to create such a functionality for only our topics or at least for Covid-19?

[2022-09-24 09:09] ettoreboy opened #129 "Projects further steps?"
Hello! I have been reading about this project and I was wondering in 2022, what is the status? Is it still developed? Are there any commercial applications?

https://fandango-project.eu/
This website proposes a mailing list and a few social media contact, but for example it is not possible to reach you on twitter, that is why I am opening an issue here hoping to get some more info about this amazi